In [ ]:
pip install selenium

In [ ]:
import openpyxl
import warnings
import multiprocess
from multiprocess import Pool, cpu_count
import PyPDF2
import pandas as pd
import re
import tabula
from pdfminer.high_level import extract_text
import numpy as np
import shutil
import os
import re
import PyPDF2
import requests
from io import BytesIO
import requests
from bs4 import BeautifulSoup
import os
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException
import requests

In [ ]:
import requests
from bs4 import BeautifulSoup
import osc
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException
import requests

In [4]:
def dlpdf(url,file_path):
        # URL of the page containing the links
    url = url

    # Directory to save the downloaded PDFs
    download_directory = os.path.join(os.getcwd(), file_path)

    # Create a directory if it doesn't exist
    if not os.path.exists(download_directory):
        os.makedirs(download_directory)

    # Set up the Firefox WebDriver (Ensure GeckoDriver is in your system's PATH)
    driver = webdriver.Firefox()

    # Open the URL in the web browser
    driver.get(url)

    # Wait for a few seconds to allow JavaScript content to load (you may need to adjust this delay)
    driver.implicitly_wait(10)

    # Find all the anchor elements with href attributes containing ".pdf"
    pdf_links = driver.find_elements(By.CSS_SELECTOR, "a[href$='.pdf']")

    # Get the PDF URLs
    pdf_urls = [link.get_attribute("href") for link in pdf_links]

    # Download the PDFs
    for pdf_url in pdf_urls:
        response = requests.get(pdf_url)
        if response.status_code == 200:
            filename = os.path.join(download_directory, os.path.basename(pdf_url))
            with open(filename, "wb") as pdf_file:
                pdf_file.write(response.content)

    # Close the web browser
    driver.quit()

In [5]:
def justwannabringyoudownsobadly(url,file_path):
    url = url

    # Directory to save the downloaded PDFs
    download_directory = os.path.join(os.getcwd(), file_path)

    # Create a directory if it doesn't exist
    if not os.path.exists(download_directory):
        os.makedirs(download_directory)

    # Set up the Firefox WebDriver (Ensure GeckoDriver is in your system's PATH)
    driver = webdriver.Firefox()

    # Open the URL in the web browser
    driver.get(url)

    # Wait for a few seconds to allow JavaScript content to load (you may need to adjust this delay)
    driver.implicitly_wait(10)

    # Find all the anchor elements with href attributes containing ".pdf"
    pdf_links = driver.find_elements(By.CSS_SELECTOR, "a[href$='.xlsx']")

    # Get the PDF URLs
    pdf_urls = [link.get_attribute("href") for link in pdf_links]

    # Download the PDFs
    for pdf_url in pdf_urls:
        response = requests.get(pdf_url)
        if response.status_code == 200:
            filename = os.path.join(download_directory, os.path.basename(pdf_url))
            with open(filename, "wb") as pdf_file:
                pdf_file.write(response.content)


    # Close the web browser
    driver.quit()

## 2020 R1

In [6]:
 justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2020/firstround/applications/index.asp",'nineper2020')

## 2020 R2

In [7]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2020/secondround/applications/",'nineper2020')

## 2020 4% Apps

In [9]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2020/applications/september-24-applications-received.asp",'TCAC_2020_4%')

In [10]:
justwannabringyoudownsobadly( "https://www.treasurer.ca.gov/ctcac/2020/applications/november-15-applications-received.asp",'TCAC_2020_4%')

In [11]:
justwannabringyoudownsobadly( "https://www.treasurer.ca.gov/ctcac/2020/received.asp",'TCAC_2020_4%')

In [12]:
justwannabringyoudownsobadly(  "https://www.treasurer.ca.gov/ctcac/2020/applications/january-17-and-24-applications-received.asp",'TCAC_2020_4%')

# 2021

## 2021 R1

In [8]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2021/firstround/applications/",'nineper2021')

## 2021 R2

In [9]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2021/secondround/applications/",'nineper2021')

## 2021 4% Applications

In [15]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2021/february-4-applications-received.asp",'TCAC_2021_4%')

In [16]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2021/secondround/index.asp",'TCAC_2021_4%')

In [17]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2021/thirdround/index.asp",'TCAC_2021_4%')

# 2022

## 2022 R1

In [10]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2022/firstround/applications/",'nineper2022')

## 2022 R2

In [11]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2022/secondround/applications/",'nineper2022')

## 2022 4% applications

In [22]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2022/firstround/index.asp",'TCAC_2021_4%')

In [23]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2022/secondround/20220809/index.asp",'TCAC_2021_4%')

In [24]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2021/thirdround/index.asp",'TCAC_2021_4%')

# 2023

## 2023 R1

In [12]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2023/firstround/applications/index.asp",'nineper2023')

## 2023 R2

In [13]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2023/secondround/9percent/applications/index.asp",'nineper2023')

## 2023 4% applications

In [27]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2023/firstround/index.asp",'TCAC_2023_4%')

In [28]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2023/secondround/applications/index.asp",'TCAC_2023_4%')

In [29]:
justwannabringyoudownsobadly("https://www.treasurer.ca.gov/ctcac/2023/thirdround/applications/index.asp",'TCAC_2023_4%')

In [3]:
import re
import PyPDF2
import requests
from io import BytesIO

In [31]:
pdf_path = "Data/2022-r1.pdf"
pattern = r'CA-22-\d{3}'

## Import winning application list

In [14]:
def download_pdf(url, folder):
    # Ensure the specified folder exists, create it if not
    if not os.path.exists(folder):
        os.makedirs(folder)

    # Get the file name from the URL
    file_name = url.split("/")[-1]

    # Define the full path to save the file
    file_path = os.path.join(folder, file_name)

    # Send an HTTP GET request to the URL
    response = requests.get(url)

    if response.status_code == 200:
        # Save the content to the file
        with open(file_path, 'wb') as file:
            file.write(response.content)
    else:
        print(f"Failed to download the file. Status code: {response.status_code}")

In [15]:
dlpdf('https://www.treasurer.ca.gov/ctcac/2019/firstround/recommendations/index.asp','Data')

In [16]:
dlpdf('https://www.treasurer.ca.gov/ctcac/2019/secondround/recommendations/index.asp','Data')

In [17]:
dlpdf('https://www.treasurer.ca.gov/ctcac/2020/firstround/recommendations/index.asp','Data')

In [18]:
dlpdf('https://www.treasurer.ca.gov/ctcac/2020/secondround/recommendations/index.asp','Data')

In [19]:
dlpdf('https://www.treasurer.ca.gov/ctcac/2021/firstround/recommendations/index.asp','Data')

In [20]:
dlpdf('https://www.treasurer.ca.gov/ctcac/2021/secondround/recommendations/index.asp','Data')

In [21]:
dlpdf('https://www.treasurer.ca.gov/ctcac/2021/secondround/recommendations/index.asp','Data')

In [22]:
download_pdf('https://www.treasurer.ca.gov/ctcac/2022/firstround/2022firstroundfinalapproved.pdf','Data')

In [23]:
download_pdf('https://www.treasurer.ca.gov/ctcac/2022/secondround/2022secondroundfinalapprovedrecommendations.pdf','Data')

In [24]:
download_pdf('https://www.treasurer.ca.gov/ctcac/2023/approved-recommendations.pdf','Data')

In [25]:
download_pdf('https://www.treasurer.ca.gov/ctcac/2023/secondround/rec.pdf','Data')

In [72]:
def extractapps(pdf_path,pattern):
    # Open the PDF with PyPDF2
    with open(pdf_path, "rb") as f:
        file_content = f.read()

    # Use BytesIO to treat the file content as a file-like object
    file_like_object = BytesIO(file_content)

    pdf = PyPDF2.PdfFileReader(file_like_object)
    # Extract text from the PDF
    text = ''
    for page_num in range(pdf.numPages):
        text += pdf.getPage(page_num).extractText()

        # Use regular expressions to find the application numbers
    application_numbers = re.findall(pattern, text)
    appnumbers=[]

    # Print the application numbers
    for num in application_numbers:
        appnumbers.append(num)
        
    return appnumbers

In [73]:
pattern19=r'CA-19-\d{3}'
pattern20=r'CA-20-\d{3}'
pattern21=r'CA-21-\d{3}'
pattern22 =r'CA-22-\d{3}'
pattern23=r'CA-23-\d{3}'

In [74]:
r1_19=extractapps('Data/2019_R1.pdf',pattern19)
r2_19=extractapps('Data/2019_R1-2.pdf',pattern19)
r3_19=extractapps('Data/2019-r1-3.pdf',pattern19)
r4_19=extractapps('Data/2019-r2-1.pdf',pattern19)
r5_19=extractapps('Data/2019-r2-2.pdf',pattern19)
r1_20=extractapps('Data/2020-r1-1.pdf',pattern20)
r2_20=extractapps('Data/2020-r1-2.pdf',pattern20)
r3_20=extractapps('Data/2020-r1-3.pdf',pattern20)
r4_20=extractapps('Data/2020-r2-3.pdf',pattern20)
r5_20=extractapps('Data/2020-r2-2.pdf',pattern20)
r1_21=extractapps('Data/2021-r1-1.pdf',pattern21)
r2_21=extractapps('Data/2021-r1-2.pdf',pattern21)
r3_21=extractapps('Data/2021-r2-1.pdf',pattern21)
r4_21=extractapps('Data/2021-r2-2.pdf',pattern21)
r1_22=extractapps('Data/2022firstroundfinalapproved.pdf',pattern22)
r2_22=extractapps('Data/2022secondroundfinalapprovedrecommendations.pdf',pattern22)
r1_23=extractapps('Data/approved-recommendations.pdf',pattern23)
r2_23=extractapps('Data/rec.pdf',pattern23)

In [4]:
import shutil
import os

In [33]:
def movefiles(sourcepath, listname, destination):
    source_directory = sourcepath
    destination_directory = destination
    
    # Create the destination directory if it doesn't exist
    if not os.path.exists(destination_directory):
        os.makedirs(destination_directory)

    for filename in listname:
        source_path = os.path.join(source_directory, filename)
        destination_path = os.path.join(destination_directory, filename)

        if os.path.exists(source_path):
            # Use shutil.move to move the file if it exists
            shutil.move(source_path, destination_path)
        else:
            print(f"File not found: {filename}. Skipping.")

In [34]:
def remove_prefix(directory):
    for filename in os.listdir(directory):
        if filename.startswith("CA-"):
            new_filename = filename[3:]  # Remove the first 3 characters
            old_path = os.path.join(directory, filename)
            new_path = os.path.join(directory, new_filename)
            os.rename(old_path, new_path)
            print(f"Renamed: {filename} to {new_filename}")

In [53]:
movefiles('2019',wins19,'wins19')

In [85]:
movefiles('nineper2020',wins20,'9perwins2020')

In [86]:
movefiles('nineper2021',wins21,'9perwins2021')

In [87]:
movefiles('nineper2022',wins22,'9perwins2022')

In [89]:
movefiles('nineper2023',wins23,'9perwins2023')

File not found: CA-23-049.xlsx. Skipping.
File not found: CA-23-025.xlsx. Skipping.
File not found: CA-23-020.xlsx. Skipping.
File not found: CA-23-047.xlsx. Skipping.
File not found: CA-23-046.xlsx. Skipping.
File not found: CA-23-013.xlsx. Skipping.
File not found: CA-23-016.xlsx. Skipping.
File not found: CA-23-076.xlsx. Skipping.
File not found: CA-23-017.xlsx. Skipping.
File not found: CA-23-026.xlsx. Skipping.
File not found: CA-23-009.xlsx. Skipping.
File not found: CA-23-056.xlsx. Skipping.
File not found: CA-23-002.xlsx. Skipping.
File not found: CA-23-030.xlsx. Skipping.
File not found: CA-23-055.xlsx. Skipping.
File not found: CA-23-007.xlsx. Skipping.
File not found: CA-23-071.xlsx. Skipping.
File not found: CA-23-003.xlsx. Skipping.
File not found: CA-23-054.xlsx. Skipping.
File not found: CA-23-005.xlsx. Skipping.
File not found: CA-23-006.xlsx. Skipping.
File not found: CA-23-070.xlsx. Skipping.
File not found: CA-23-001.xlsx. Skipping.
File not found: CA-23-064.xlsx. Skipping.
File not found: CA-23-057.xlsx. Skipping.
File not found: CA-23-004.xlsx. Skipping.
File not found: CA-23-063.xlsx. Skipping.
File not found: CA-23-117.xlsx. Skipping.
File not found: CA-23-143.xlsx. Skipping.
File not found: CA-23-147.xlsx. Skipping.
File not found: CA-23-103.xlsx. Skipping.
File not found: CA-23-084.xlsx. Skipping.
File not found: CA-23-135.xlsx. Skipping.
File not found: CA-23-132.xlsx. Skipping.
File not found: CA-23-098.xlsx. Skipping.
File not found: CA-23-148.xlsx. Skipping.
File not found: CA-23-119.xlsx. Skipping.
File not found: CA-23-079.xlsx. Skipping.
File not found: CA-23-094.xlsx. Skipping.
File not found: CA-23-142.xlsx. Skipping.
File not found: CA-23-092.xlsx. Skipping.
File not found: CA-23-139.xlsx. Skipping.
File not found: CA-23-140.xlsx. Skipping.
File not found: CA-23-123.xlsx. Skipping.
File not found: CA-23-118.xlsx. Skipping.
File not found: CA-23-109.xlsx. Skipping.
File not found: CA-23-121.xlsx. Skipping.
File not found: CA-23-104.xlsx. Skipping.
File not found: CA-23-127.xlsx. Skipping.
File not found: CA-23-085.xlsx. Skipping.
File not found: CA-23-145.xlsx. Skipping.
File not found: CA-23-083.xlsx. Skipping.
File not found: CA-23-151.xlsx. Skipping.
File not found: CA-23-082.xlsx. Skipping.

In [90]:
movefiles('nineper2023',wins23_r2,'9perwins2023')

File not found: 23-049.xlsx. Skipping.
File not found: 23-025.xlsx. Skipping.
File not found: 23-020.xlsx. Skipping.
File not found: 23-047.xlsx. Skipping.
File not found: 23-046.xlsx. Skipping.
File not found: 23-013.xlsx. Skipping.
File not found: 23-016.xlsx. Skipping.
File not found: 23-076.xlsx. Skipping.
File not found: 23-017.xlsx. Skipping.
File not found: 23-026.xlsx. Skipping.
File not found: 23-009.xlsx. Skipping.
File not found: 23-056.xlsx. Skipping.
File not found: 23-002.xlsx. Skipping.
File not found: 23-030.xlsx. Skipping.
File not found: 23-055.xlsx. Skipping.
File not found: 23-007.xlsx. Skipping.
File not found: 23-071.xlsx. Skipping.
File not found: 23-003.xlsx. Skipping.
File not found: 23-054.xlsx. Skipping.
File not found: 23-005.xlsx. Skipping.
File not found: 23-006.xlsx. Skipping.
File not found: 23-070.xlsx. Skipping.
File not found: 23-001.xlsx. Skipping.
File not found: 23-064.xlsx. Skipping.
File not found: 23-057.xlsx. Skipping.
File not found: 23-004.xlsx. Skipping.
File not found: 23-063.xlsx. Skipping.

In [91]:
remove_prefix('9perwins2023')

Renamed: CA-23-001.xlsx to 23-001.xlsx
Renamed: CA-23-002.xlsx to 23-002.xlsx
Renamed: CA-23-003.xlsx to 23-003.xlsx
Renamed: CA-23-004.xlsx to 23-004.xlsx
Renamed: CA-23-005.xlsx to 23-005.xlsx
Renamed: CA-23-006.xlsx to 23-006.xlsx
Renamed: CA-23-007.xlsx to 23-007.xlsx
Renamed: CA-23-009.xlsx to 23-009.xlsx
Renamed: CA-23-013.xlsx to 23-013.xlsx
Renamed: CA-23-016.xlsx to 23-016.xlsx
Renamed: CA-23-017.xlsx to 23-017.xlsx
Renamed: CA-23-020.xlsx to 23-020.xlsx
Renamed: CA-23-025.xlsx to 23-025.xlsx
Renamed: CA-23-026.xlsx to 23-026.xlsx
Renamed: CA-23-030.xlsx to 23-030.xlsx
Renamed: CA-23-046.xlsx to 23-046.xlsx
Renamed: CA-23-047.xlsx to 23-047.xlsx
Renamed: CA-23-049.xlsx to 23-049.xlsx
Renamed: CA-23-054.xlsx to 23-054.xlsx
Renamed: CA-23-055.xlsx to 23-055.xlsx
Renamed: CA-23-056.xlsx to 23-056.xlsx
Renamed: CA-23-057.xlsx to 23-057.xlsx
Renamed: CA-23-063.xlsx to 23-063.xlsx
Renamed: CA-23-064.xlsx to 23-064.xlsx
Renamed: CA-23-070.xlsx to 23-070.xlsx
Renamed: CA-23-071.xlsx to 23-071.xlsx
Renamed: CA-23-076.xlsx to 23-076.xlsx

# Parsing Excel Applications from '20-'22

In [8]:
pip install multiprocess

Requirement already satisfied: multiprocess in c:\users\thech\anaconda3\envs\uds\lib\site-packages (0.70.15)
Requirement already satisfied: dill>=0.3.7 in c:\users\thech\anaconda3\envs\uds\lib\site-packages (from multiprocess) (0.3.7)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import openpyxl
import warnings
import multiprocess
from multiprocess import Pool, cpu_count

In [35]:
# Suppress specific warning messages by category
warnings.filterwarnings("ignore", category=UserWarning)
# # Reset warning settings (if needed)
# warnings.resetwarnings()

## 2020

## The Rest

In [371]:
def threst20four(file_name):
    import openpyxl
    import os
    import pandas as pd
   
    try:
        # Load the Excel file with openpyxl
        excel_file = openpyxl.load_workbook(file_name, data_only=True)

        # Access a specific sheet
        sheet_name1 = 'Application'
        sheet1 = excel_file[sheet_name1]

        # Extract the value from the merged cell (AC447)
        totalunits = sheet1['AG424'].value
        city= sheet1['I191'].value
        county= sheet1['T191'].value
        # Create a DataFrame
        excel = os.path.basename(file_name)
        df = pd.DataFrame({'Application Number':[excel.strip('.xlsx')],'Total Units': [totalunits],'City': [city],'County':[county]})
        return df
    except Exception as e:
        print(f"Error processing {file_name}: {e}")
        return None

In [372]:
def threst20nine(file_name):
    import openpyxl
    import os
    import pandas as pd
   
    try:
        # Load the Excel file with openpyxl
        excel_file = openpyxl.load_workbook(file_name, data_only=True)

        # Access a specific sheet
        sheet_name1 = 'Application'
        sheet1 = excel_file[sheet_name1]

        # Extract the value from the merged cell (AC447)
        totalunits = sheet1['AG423'].value
        city= sheet1['I196'].value
        county= sheet1['T196'].value
        # Create a DataFrame
        excel = os.path.basename(file_name)
        df = pd.DataFrame({'Application Number':[excel.strip('.xlsx')],'Total Units': [totalunits],'City': [city],'County':[county]})
        return df
    except Exception as e:
        print(f"Error processing {file_name}: {e}")
        return None

In [84]:

excel_file = openpyxl.load_workbook('TCAC_2020_4%/20-401.xlsx', data_only=True)

# Access a specific sheet
sheet_name1 = 'Application'  
sheet_name2='Sources and Uses Budget'
sheet1 = excel_file[sheet_name1]
sheet2 = excel_file[sheet_name2]

# Extract the value from the merged cell (AC447)
costperunit = sheet1['AC440'].value
eligible= sheet1['AC442'].value
landcost = sheet2['B4'].value
constructioncost = sheet2['B36'].value
totalcost= sheet2['B104'].value
# Create a DataFrame
excel = os.path.basename('TCAC_2020_4%/20-401.xlsx')
df = pd.DataFrame({'Application Number':[excel.strip('.xlsx')],'Cost Per Unit': [costperunit],'Eligible Basis': [eligible],'Land Cost':[landcost],'Construction Cost':[constructioncost],'Total Cost':[totalcost]})

In [28]:
def data2020nineper(file_name):
    import openpyxl
    import os
    import pandas as pd
    # Load the Excel file with openpyxl
    try:
      
        excel_file = openpyxl.load_workbook(file_name, data_only=True)

        costperunit= None
        eligible= None
        landcost= None
        constructioncost= None
        totalcost= None
        prevailing= None
        

        # Access a specific sheet
        sheet_name1 = 'Application'  
        sheet_name2='Sources and Uses Budget'
        sheet1 = excel_file[sheet_name1]
        sheet2 = excel_file[sheet_name2]

        # Extract the value from the merged cell (AC447)
        costperunit = sheet1['AC440'].value
        eligible= sheet1['AC442'].value
        landcost = sheet2['B4'].value
        constructioncost = sheet2['B36'].value
        totalcost= sheet2['B104'].value
        costperunit = sheet1['AC441'].value
        prevailing = sheet1 ['AA936'].value
        city= sheet1['I196'].value
        county= sheet1['T196'].value
        address= sheet1['I192'].value
        name= sheet1['H17'].value
        units= sheet1['AG423'].value
        acres= sheet1['P405'].value
        gsf= sheet1['AG436'].value
        type1='N/A'
        type3='N/A'
       
        
        # Create a DataFrame
        excel = os.path.basename(file_name)
        df = pd.DataFrame({'Application Number':[excel.strip('.xlsx')],'Cost Per Unit': [costperunit],'Eligible Basis': [eligible],'Land Cost':[landcost],
                           'Construction Cost':[constructioncost],'Total Cost':[totalcost],'Cost Per Unit':[costperunit],'Prevailing Wage Boost':[prevailing],'City': [city],'County': [county],
                           'Address':[address],'Project Name':[name],'Total Units':[units], 'Land Acres': [acres], 'Gross Square Feet':[gsf],'Type I Boost':[type1], 'Type III Boost':[type3]})
        return df
    except Exception as e:
            print(f"Error processing {file_name}: {e}")
            return None

In [11]:
def data20204per(file_name):
    import openpyxl
    import os
    import pandas as pd
    # Load the Excel file with openpyxl
    costperunit= None
    eligible= None
    landcost= None
    constructioncost= None
    totalcost= None
    prevailing= None
    mip= None
    recycled= None
    
    # Load the Excel file with openpyxl
    excel_file = openpyxl.load_workbook(file_name, data_only=True)
    
    # Access a specific sheet
    sheet_name1 = 'Application'
    sheet_name2='Sources and Uses Budget'
    sheet1 = excel_file[sheet_name1]
    sheet2 = excel_file[sheet_name2]

    # Extract the value from the merged cell (AC447)
    costperunit = sheet1['AC441'].value
    eligible= sheet1['AC443'].value
    landcost = sheet2['B4'].value
    constructioncost = sheet2['B36'].value
    totalcost= sheet2['B105'].value
    prevailing = sheet2['B33'].value
     # Initialize MIP and Recycled Bonds variables
    mip = None
    recycled = None

    # # Search for 'MIP' or 'CDLAC' in cells C618-C629
    found_mip= False
    for row_number in range(608, 652):
        row = sheet1[row_number]
        for cell in row:
            if cell.value:
                if ('MIP' in str(cell.value).strip() or 'CDLAC' in str(cell.value).strip()):
                # MIP = cell_value
                    mip = (f"Row {row_number}: {cell.value}")
                    found_mip=True
                    break  # Stop searching when the first match is found
        if found_mip:
            break 

    # Search for 'recycled' throughout the entire 'Application' sheet (case-insensitive)
    # Iterate over rows from row 556 to 934
    found_recycled = False
    for row_number in range(537, 913):
        row = sheet1[row_number]

        for cell in row:
            if cell.value:
                if 'Recycled' in str(cell.value).strip():
                    recycled=(f"Row {row_number}: {cell.value}")
                    found_recycled = True
                    break
        if found_recycled:
            break  # Stop searching if 'Recycled' is found

    # Create a DataFrame
    excel = os.path.basename(file_name)
    df = pd.DataFrame({
        'Application Number': [excel.strip('.xlsx')],
        'Cost Per Unit': [costperunit],
        'Eligible Basis': [eligible],
        'Land Cost': [landcost],
        'Construction Cost': [constructioncost],
        'Total Cost': [totalcost],
        'Prevailing Wage': [prevailing],
        'MIP': [mip],
        'Recycled Bonds': [recycled],
    })
    return df

### Function To Loop Files Through the Scraping Function

In [12]:
def cccombo(folder_path,combofunction):
    file_list = [os.path.join(folder_path, file) for file in os.listdir(folder_path) if file.endswith('.xlsx')]

    # Create a Pool with multiple processes
    num_processes = 16  # You can adjust this number based on your system's capabilities
    with Pool(processes=num_processes) as pool:
        results = pool.map(combofunction, file_list)

    # Concatenate the results into a single DataFrame
    final_result = pd.concat(results, ignore_index=True)

    return final_result

In [39]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    fourper20df = cccombo('TCAC_2020_4%',data20204per)

In [43]:
fourper20df.to_csv('fourper20df.csv')

In [30]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    nineper20df = cccombo('9perwins2020',data2020nineper)

In [31]:
nineper20df['Type I Boost']='N/A'
nineper20df['Type III Boost']='N/A'

In [32]:
nineper20df.to_csv('nineper20df.csv')

In [148]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    prevwage4per20df = cccombo('TCAC_2020_4%',prevwage)

In [149]:
prevwage4per20df.to_csv('prevwage4per20df.csv')

In [373]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    therestfourper = cccombo('TCAC_2020_4%',threst20four)

In [374]:
therestfourper.to_csv('therestfourper.csv')

In [375]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    therestnineper = cccombo('wins2020',threst20nine)

In [376]:
therestnineper.to_csv('therestnineper.csv')

## 2021-22

## The Rest

In [368]:
def threst2122four(file_name):
    import openpyxl
    import os
    import pandas as pd
   
    try:
        # Load the Excel file with openpyxl
        excel_file = openpyxl.load_workbook(file_name, data_only=True)

        # Access a specific sheet
        sheet_name1 = 'Application'
        sheet1 = excel_file[sheet_name1]

        # Extract the value from the merged cell (AC447)
        totalunits = sheet1['AG436'].value
        city= sheet1['I189'].value
        county= sheet1['T189'].value
        # Create a DataFrame
        excel = os.path.basename(file_name)
        df = pd.DataFrame({'Application Number':[excel.strip('.xlsx')],'Total Units': [totalunits],'City': [city],'County':[county]})
        return df
    except Exception as e:
        print(f"Error processing {file_name}: {e}")
        return None

In [367]:
def threst2122nine(file_name):
    import openpyxl
    import os
    import pandas as pd
   
    try:
        # Load the Excel file with openpyxl
        excel_file = openpyxl.load_workbook(file_name, data_only=True)

        # Access a specific sheet
        sheet_name1 = 'Application'
        sheet1 = excel_file[sheet_name1]

        # Extract the value from the merged cell (AC447)
        totalunits = sheet1['AG430'].value
        city= sheet1['I189'].value
        county= sheet1['T189'].value
        # Create a DataFrame
        excel = os.path.basename(file_name)
        df = pd.DataFrame({'Application Number':[excel.strip('.xlsx')],'Total Units': [totalunits],'City': [city],'County':[county]})
        return df
    except Exception as e:
        print(f"Error processing {file_name}: {e}")
        return None

### 9Per21

In [10]:
def data219per(file_name):
    import openpyxl
    import os
    import pandas as pd
   
    try:
        # Load the Excel file with openpyxl
        excel_file = openpyxl.load_workbook(file_name, data_only=True)

        # Access a specific sheet
        sheet_name1 = 'Application'
        sheet_name2='Sources and Uses Budget'
        sheet1 = excel_file[sheet_name1]
        sheet2 = excel_file[sheet_name2]

        # Extract the value from the merged cell (AC447)
        costperunit = sheet1['AC447'].value
        eligible= sheet1['AC449'].value
        units= sheet1['AG430'].value
        landcost = sheet2['B4'].value
        constructioncost = sheet2['B38'].value
        totalcost= sheet2['B104'].value
        
        if sheet1['AG953'].value:
            # If AG953 contains data, extract value from AG953
            value = sheet1['AG953'].value
        else:
            # If AG953 is empty, extract value from AG955
            value = sheet1['AG955'].value
        
        if sheet1['AG987'].value:
            # If AG953 contains data, extract value from AG953
            value2= sheet1['AG987'].value
        else:
            # If AG953 is empty, extract value from AG955
            value2= sheet1['AG989'].value
            
        if sheet1['AG991'].value:
            # If AG953 contains data, extract value from AG953
            value3= sheet1['AG991'].value
        else:
            # If AG953 is empty, extract value from AG955
            value3= sheet1['AG993'].value

        prevailing = value  # Assign the extracted value to prevailing
        city = sheet1['I189'].value
        county = sheet1['T189'].value
        address = sheet1['I185'].value
        name = sheet1['I184'].value
        acres = sheet1['P411'].value
        gsf = sheet1['AG443'].value
        type1= value2
        type3= value3
       
        
        # Create a DataFrame
        excel = os.path.basename(file_name)
        df = pd.DataFrame({'Application Number':[excel.strip('.xlsx')],'Cost Per Unit': [costperunit],'Eligible Basis': [eligible],'Land Cost':[landcost],
                           'Construction Cost':[constructioncost],'Total Cost':[totalcost],'Cost Per Unit':[costperunit],'Prevailing Wage Boost':[prevailing],'City': [city],'County': [county],
                           'Address':[address],'Project Name':[name],'Total Units':[units], 'Land Acres': [acres], 'Gross Square Feet':[gsf],'Type I Boost':[type1], 'Type III Boost':[type3]})
        return df
    except Exception as e:
        print(f"Error processing {file_name}: {e}")
        return None

### 9Per22

In [9]:
def data229per(file_name):
    import openpyxl
    import os
    import pandas as pd
   
    try:
        # Load the Excel file with openpyxl
        excel_file = openpyxl.load_workbook(file_name, data_only=True)

        # Access a specific sheet
        sheet_name1 = 'Application'
        sheet_name2='Sources and Uses Budget'
        sheet1 = excel_file[sheet_name1]
        sheet2 = excel_file[sheet_name2]

        # Extract the value from the merged cell (AC447)
        costperunit = sheet1['AC447'].value
        eligible= sheet1['AC449'].value
        landcost = sheet2['B4'].value
        constructioncost = sheet2['B38'].value
        totalcost = sheet2['B104'].value
        prevailing = sheet1['AG955'].value
        units = sheet1['AG430'].value
        city= sheet1['I189'].value
        county= sheet1['T189'].value
        address= sheet1['I185'].value
        name= sheet1['I184'].value
        acres= sheet1['P411'].value
        gsf= sheet1['AG443'].value
        type1= sheet1['AG989'].value
        type3= sheet1['AG993'].value
       
        
        # Create a DataFrame
        excel = os.path.basename(file_name)
        df = pd.DataFrame({'Application Number':[excel.strip('.xlsx')],'Cost Per Unit': [costperunit],'Eligible Basis': [eligible],'Land Cost':[landcost],
                           'Construction Cost':[constructioncost],'Total Cost':[totalcost],'Cost Per Unit':[costperunit],'Prevailing Wage Boost':[prevailing],'City': [city],'County': [county],
                           'Address':[address],'Project Name':[name],'Total Units':[units], 'Land Acres': [acres], 'Gross Square Feet':[gsf],'Type I Boost':[type1], 'Type III Boost':[type3]})
        return df
    except Exception as e:
        print(f"Error processing {file_name}: {e}")
        return None

In [61]:
def data21224per(file_name):
    import openpyxl
    import os
    import pandas as pd
    
    try:
        # Load the Excel file
        excel_file = openpyxl.load_workbook(file_name, data_only=True)

      # Access the 'Application' sheet
        sheet_name1 = 'Application'
        sheet1 = excel_file[sheet_name1]
        sheet_name2 = 'Sources and Uses Budget'
        sheet2 = excel_file[sheet_name2]

        # Extract the value from the merged cell (AC447)
        costperunit = sheet1['AC453'].value
        eligible = sheet1['AC455'].value
        landcost = sheet2['B4'].value
        constructioncost = sheet2['B38'].value
        totalcost = sheet2['B105'].value
        prevailing = sheet2['B33'].value

        # Initialize MIP and Recycled Bonds variables
        mip = None
        recycled = None

        # # Search for 'MIP' or 'CDLAC' in cells C618-C629
        found_mip= False
        for row_number in range(619, 652):
            row = sheet1[row_number]
            for cell in row:
                if cell.value:
                    if ('MIP' in str(cell.value).strip() or 'CDLAC' in str(cell.value).strip()):
                    # MIP = cell_value
                        mip = (f"Row {row_number}: {cell.value}")
                        found_mip=True
                        break  # Stop searching when the first match is found
            if found_mip:
                break 

        # Search for 'recycled' throughout the entire 'Application' sheet (case-insensitive)
        # Iterate over rows from row 556 to 934
        found_recycled = False
        for row_number in range(556, 935):
            row = sheet1[row_number]

            for cell in row:
                if cell.value:
                    if 'Recycled' in str(cell.value).strip():
                        recycled=(f"Row {row_number}: {cell.value}")
                        found_recycled = True
                        break
            if found_recycled:
                break  # Stop searching if 'Recycled' is found

        # Create a DataFrame
        excel = os.path.basename(file_name)
        df = pd.DataFrame({
            'Application Number': [excel.strip('.xlsx')],
            'Cost Per Unit': [costperunit],
            'Eligible Basis': [eligible],
            'Land Cost': [landcost],
            'Construction Cost': [constructioncost],
            'Total Cost': [totalcost],
            'Prevailing Wage': [prevailing],
            'MIP': [mip],
            'Recycled Bonds': [recycled],
        })
        return df
    except Exception as e:
        print(f"Error processing {file_name}: {e}")
        return None

In [63]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    fourper2122df = cccombo('TCAC_2021_4%',data21224per)

In [64]:
fourper2122df.to_csv('fourper2122df.csv')

In [33]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    nineper21df = cccombo('9perwins2021',data219per)

In [34]:
nineper21df.to_csv('nineper21df.csv')

In [35]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    nineper22df = cccombo('9perwins2022',data229per)

In [36]:
nineper22df.to_csv('nineper22df.csv')

In [402]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    therestnineper21 = cccombo('wins2021',threst2122nine)

In [403]:
therestnineper21.to_csv('therestnineper21.csv')

In [404]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    therestnineper22 = cccombo('wins2022',threst2122nine)

In [405]:
therestnineper22.to_csv('therestnineper22.csv')

In [379]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    therestfourper2122 = cccombo('TCAC_2021_4%',threst2122four)

In [401]:
therestfourper2122.to_csv('therestfourper2122.csv')

# 2023 Applications

# The rest

In [69]:
def data20234per(file_name):
    import openpyxl
    import os
    import pandas as pd
      # Load the Excel file
    try:
        
        excel_file = openpyxl.load_workbook(file_name, data_only=True)

      # Access the 'Application' sheet
        sheet_name1 = 'Application'
        sheet1 = excel_file[sheet_name1]
        sheet_name2 = 'Sources and Uses Budget'
        sheet2 = excel_file[sheet_name2]

        # Extract the value from the merged cell (AC447)
        costperunit = sheet1['AC453'].value
        eligible = sheet1['AC455'].value
        landcost = sheet2['B4'].value
        constructioncost = sheet2['B38'].value
        totalcost = sheet2['B105'].value
        prevailing = sheet2['B34'].value
        
        

        # Initialize MIP and Recycled Bonds variables
        mip = None
        recycled = None

        # # Search for 'MIP' or 'CDLAC' in cells C618-C629
        found_mip= False
        for row_number in range(619, 638):
            row = sheet1[row_number]
            for cell in row:
                if cell.value:
                    if ('MIP' in str(cell.value).strip() or 'CDLAC' in str(cell.value).strip()):
                    # MIP = cell_value
                        mip = (f"Row {row_number}: {cell.value}")
                        found_mip=True
                        break  # Stop searching when the first match is found
            if found_mip:
                break 

        # Search for 'recycled' throughout the entire 'Application' sheet (case-insensitive)
        # Iterate over rows from row 556 to 934
        found_recycled = False
        for row_number in range(548, 921):
            row = sheet1[row_number]

            for cell in row:
                if cell.value:
                    if 'Recycled' in str(cell.value).strip():
                        recycled=(f"Row {row_number}: {cell.value}")
                        found_recycled = True
                        break
            if found_recycled:
                break  # Stop searching if 'Recycled' is found

        # Create a DataFrame
        excel = os.path.basename(file_name)
        df = pd.DataFrame({
            'Application Number': [excel.strip('.xlsx')],
            'Cost Per Unit': [costperunit],
            'Eligible Basis': [eligible],
            'Land Cost': [landcost],
            'Construction Cost': [constructioncost],
            'Total Cost': [totalcost],
            'Prevailing Wage': [prevailing],
            'MIP': [mip],
            'Recycled Bonds': [recycled],
        })
        return df
    except Exception as e:
        print(f"Error processing {file_name}: {e}")
        return None

In [44]:
def data20239per(file_name):
    import openpyxl
    import os
    import pandas as pd
      # Load the Excel file
    try:
        # Load the Excel file with openpyxl
        excel_file = openpyxl.load_workbook(file_name, data_only=True)

        # Access a specific sheet
        sheet_name1 = 'Application'
        sheet_name2='Sources and Uses Budget'
        sheet1 = excel_file[sheet_name1]
        sheet2 = excel_file[sheet_name2]
        
        
        # Extract the value from the merged cell (AC447)
        costperunit = sheet1['AC447'].value
        eligible = sheet1['AC449'].value
        landcost = sheet2['B4'].value
        constructioncost = sheet2['B38'].value
        totalcost = sheet2['B104'].value
        prevailing = sheet1['AG941'].value
        units = sheet1['AG430'].value
        city= sheet1['I189'].value
        county= sheet1['T189'].value
        address= sheet1['I185'].value
        name= sheet1['I184'].value
        acres= sheet1['P411'].value
        gsf= sheet1['P411'].value
        type1= sheet1['AG975'].value
        type3= sheet1['AG979'].value
       
        
         # Create a DataFrame
        excel = os.path.basename(file_name)
        df = pd.DataFrame({'Application Number':[excel.strip('.xlsx')],'Cost Per Unit': [costperunit],'Eligible Basis': [eligible],'Land Cost':[landcost],
                           'Construction Cost':[constructioncost],'Total Cost':[totalcost],'Cost Per Unit':[costperunit],'Prevailing Wage Boost':[prevailing],'City': [city],'County': [county],
                           'Address':[address],'Project Name':[name],'Total Units':[units], 'Land Acres': [acres], 'Gross Square Feet':[gsf],'Type I Boost':[type1], 'Type III Boost':[type3]})
        return df
    except Exception as e:
        print(f"Error processing {file_name}: {e}")
        return None

In [151]:
def eligible(file_name):
    import openpyxl
    import os
    import pandas as pd
    # Load the Excel file with openpyxl
    eligible= None
    
    # Load the Excel file with openpyxl
    excel_file = openpyxl.load_workbook(file_name, data_only=True)
    
    # Access a specific sheet
    sheet_name1 = 'Application'
    sheet1 = excel_file[sheet_name1]

    # Extract the value from the merged cell (AC447)
    eligible = sheet1['AC449'].value
    
    # Create a DataFrame
    excel = os.path.basename(file_name)
    df = pd.DataFrame({
        'Application Number': [excel.strip('.xlsx')],
        'Eligible Basis': [eligible],
    })
    return df

In [70]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    fourper23df = cccombo('TCAC_2023_4%',data20234per)

In [71]:
fourper23df.to_csv('fourper23df.csv')

In [45]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    nineper23df = cccombo('9perwins2023',data20239per)

In [49]:
nineper23df.head()

,Application Number,Cost Per Unit,Eligible Basis,Land Cost,Construction Cost,Total Cost,Prevailing Wage Boost,City,County,Address,Project Name,Total Units,Land Acres,Gross Square Feet,Type I Boost,Type III Boost
0,23-001,787499.402985,609221.298507,0.0,34232518.0,5.276246e+07,Yes,Los. Angeles,Los Angeles,232 Judge John Aiso St.,First Street North B Apartments,67,0.95000,0.95000,No,Yes
1,23-002,586467.588235,492267.000000,663000.0,10262926.0,2.990985e+07,Yes,Stockton,San Joaquin,"709 N Center Street, 21 West Park Street, 39 W...",Park Center Apartments,51,1.10000,1.10000,No,No
2,23-003,911630.535200,786966.599318,2061601.0,24353154.0,4.102337e+07,Yes,Alameda,Alameda,500 Mosley Avenue,North Housing PSH I,45,0.53000,0.53000,No,No
3,23-004,543400.700000,446161.650000,2600000.0,0.0,2.173603e+07,No,Los Angeles,Los Angeles,1724 East Century Blvd.,Watts Arms II Apartments,40,2.05000,2.05000,No,No
4,23-005,820757.250000,678208.908333,4850000.0,22826827.0,3.939635e+07,Yes,West Hollywood,Los Angeles,1201 - 1207 N Detroit Street,Lexington Gardens,48,0.30886,0.30886,No,No

In [51]:
nineper23df.to_csv('nineper23df.csv')

In [152]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    eb20239per = cccombo('wins2023',eligible)

In [153]:
eb20239per.to_csv('eb20239per.csv')

In [381]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    therestnineper23 = cccombo('wins2023',threst2122nine)

In [382]:
therestnineper23.to_csv('therestnineper23.csv')

In [383]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    therestfourper23 = cccombo('TCAC_2023_4%',threst2122four)

In [400]:
therestfourper23.to_csv('therestfourper23.csv')

### Final DFs

In [7]:
fourper2020Final=pd.read_csv('fourper20df.csv')
prevwage=pd.read_csv('prevwage4per20df.csv')
fourper2020Final['Prevailing Wage']=prevwage['Prevailing Wage']
fourper2020Final.to_csv('fourper2020Final.csv')

In [8]:
fourper22=pd.read_csv('fourper2122df.csv')
fourper23df=pd.read_csv('fourper23df.csv')

allfourperfinal=pd.concat([fourper22,fourper23df,fourper2020Final],ignore_index=False)
allfourperfinal.drop(allfourperfinal.columns[allfourperfinal.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [9]:
allfourperfinal['Type']='4%'

In [10]:
allfourperfinal.to_csv('allfourperfinal.csv')

In [11]:
eb23=pd.read_csv('eb20239per.csv')
nineper23final=pd.read_csv('nineper23df.csv')
nineper23final['Eligible Basis']=eb23['Eligible Basis']
nineper23final.drop(nineper23final.columns[nineper23final.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
nineper23final.to_csv('nineper23final.csv')

In [52]:
nineper20=pd.read_csv('nineper20df.csv')
nineper21=pd.read_csv('nineper21df.csv')
nineper22=pd.read_csv('nineper22df.csv')
nineper23=pd.read_csv('nineper23df.csv')
allnineperfinal=pd.concat([nineper20,nineper21,nineper22,nineper23],ignore_index=False)
allnineperfinal['Type']='9%'

In [53]:
allnineperfinal.to_csv('allnineperfinal.csv')

In [54]:
allnineperfinal.to_excel('allnineperfinal.xlsx')

In [14]:
fourandnine=pd.concat([allnineperfinal,allfourperfinal],ignore_index=False)

In [15]:
fourandnine.drop(fourandnine.columns[fourandnine.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
fourandnine.loc[fourandnine['Type'] == '9%', 'Prevailing Wage'] = fourandnine.loc[fourandnine['Type'] == '9%', 'Prevailing Wage'].fillna('Not Examined')
fourandnine.to_csv('Finalfourandnine.csv')

### Adding Info from CDLAC Spreadsheet

In [16]:
trfour20=pd.read_csv('therestfourper.csv')
trfour2122=pd.read_csv('therestfourper2122.csv')
trfour23=pd.read_csv('therestfourper23.csv')
trnine20=pd.read_csv('therestnineper.csv')
trnine21=pd.read_csv('therestnineper21.csv')
trnine22=pd.read_csv('therestnineper22.csv')
trnine23=pd.read_csv('therestnineper23.csv')

In [17]:
trfourall=pd.concat([trfour20,trfour2122,trfour23],ignore_index=False)
trfourall.drop(trfourall.columns[trfourall.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
trfourall.head()

  Application Number  Total Units         City       County
0             20-401         37.0  Bakersfield         Kern
1             20-402        121.0  Los Angeles  Los Angeles
2             20-403         40.0       Delano         Kern
3             20-404         26.0  Los Angeles  Los Angeles
4             20-405         27.0     Whittier  Los Angeles

In [18]:
cdlac9per= pd.merge(allfourperfinal, trfourall, on='Application Number', how='inner')

In [19]:
allnineper=pd.concat([trnine20,trnine21,trnine22,trnine23],ignore_index=False)
trnineall.drop(trnineall.columns[trnineall.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
trnineall.head()

  Application Number  Total Units         City       County
0             20-002         52.0   Susanville       Lassen
1             20-003        100.0        Indio    Riverside
2             20-008         52.0  Los Angeles  Los Angeles
3             20-010         44.0   Livingston       Merced
4             20-011        134.0   Sacramento   Sacramento

In [20]:
cdlac9per= pd.merge(allnineperfinal, trnineall, on='Application Number', how='inner')

In [21]:
cdlac9per.head()

,Application Number,Cost Per Unit,Eligible Basis,Land Cost,Construction Cost,Total Cost,Type,Total Units,City,County
0,20-002,164864.326923,137947.442308,367000.0,0.0,8.572945e+06,9%,52.0,Susanville,Lassen
1,20-003,450592.627573,368773.352549,3894330.2,29023655.0,4.505926e+07,9%,100.0,Indio,Riverside
2,20-008,727049.038462,604981.480769,3259869.0,23922870.0,3.780655e+07,9%,52.0,Los Angeles,Los Angeles
3,20-010,185829.090909,154502.977273,295000.0,0.0,8.176480e+06,9%,44.0,Livingston,Merced
4,20-011,445040.305970,364022.238806,2128000.0,29635021.0,5.963540e+07,9%,134.0,Sacramento,Sacramento

In [22]:
cdlac9per=cdlac9per.rename(columns={'Eligible Basis':'Eligible Basis/Unit'})

In [23]:
cdlac9per['Total Eligible Basis']= cdlac9per['Eligible Basis/Unit']*cdlac9per['Total Units']

In [24]:
cdlac4per= pd.merge(allfourperfinal, trfourall, on='Application Number', how='inner')

In [25]:
cdlac9per['Year']='20'+cdlac9per['Application Number'].str[:2]
cdlac4per['Year']='20'+cdlac4per['Application Number'].str[:2]

In [26]:
cdlac9per.to_csv('cdlac9per.csv')

In [27]:
cdlac4per.to_csv('cdlac4per.csv')

In [28]:
cdlac9per.to_excel('cdlac9per.xlsx')
cdlac4per.to_excel('cdlac4per.xlsx')
both.to_excel('CDLACApplications.xlsx')

NameError: name 'both' is not defined

In [ ]:
both=pd.concat([cdlac9per,cdlac4per],ignore_index=False)
both.drop(both.columns[both.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
both.head()

In [29]:
both.loc[both['Type'] == '9%', 'Prevailing Wage'] = both.loc[both['Type'] == '9%', 'Prevailing Wage'].fillna('Not Examined')
both.sample(10)

NameError: name 'both' is not defined

In [30]:
both.to_csv('CDLACApplications.csv')

NameError: name 'both' is not defined

In [31]:
cdlac4per=cdlac4per.rename(columns={'Eligible Basis':'Eligible Basis/Unit'})
cdlac4per['Total Eligible Basis']= cdlac4per['Eligible Basis/Unit']*cdlac4per['Total Units']

In [ ]:
allnineperfinal=pd.concat([nineper20,nineper21,nineper22,nineper23final],ignore_index=False)
allnineperfinal.drop(allnineperfinal.columns[allnineperfinal.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
allnineperfinal['Type']='9%'

In [58]:
allnineperfinal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247 entries, 0 to 53
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Application Number     247 non-null    object
 1   Cost Per Unit          244 non-null    float64
 2   Eligible Basis         190 non-null    float64
 3   Land Cost              247 non-null    float64
 4   Construction Cost      247 non-null    float64
 5   Total Cost             247 non-null    float64
 6   Prevailing Wage Boost  127 non-null    object
 7   City                   190 non-null    object
 8   County                 190 non-null    object
 9   Address                174 non-null    object
 10  Project Name           190 non-null    object
 11  Total Units            190 non-null    float64
 12  Land Acres             190 non-null    float64
 13  Gross Square Feet      190 non-null    float64
 14  Type                   247 non-null    object
dtypes: float64(8), object(7)
memory usage: 30.9+ KB

In [32]:
cdlac9per= pd.merge(allnineperfinal, trnineall, on='Application Number', how='inner')

In [5]:
oldlihtc=pd.read_excel('Data/projects.xlsx', sheet_name='California Mapped Projects')

In [6]:
# Define a custom function to modify the values
def modify_value(value):
    if isinstance(value, str):
        parts = value.split('-')
        if len(parts) == 3:
            return parts[1][2:] + '-' + parts[2]
    return value

In [7]:

# Apply the custom function to the column
oldlihtc['Application Number'] = oldlihtc['Application Number'].apply(modify_value)

In [8]:
oldlihtc['Application Number'] = oldlihtc['Application Number'].str[0:]

In [9]:
infocols=['Application Number',
 'Type of tax credit funding',
 'Construction Type',
 'Developer',
 'Housing Type',
 'Project Address',
 'Project Name',
 'Project City',
 'Project Zip Code',
 'Project County',
 'Census Tract',
 "Assessor's Parcel Number (APN)",
 'Placed in Service (PIS) Date ',
 'Total Units',
 'Low Income Units',
 'Number of SRO/Studio Units',
 'Number of 1 Bedroom Units',
 'Number of 2 Bedroom Units',
 'Number of 3 Bedroom Units',
 'Number of 4 Bedroom Units',
 'Number of 5 Bedroom Units',
 'Number of 6 Bedroom Units',
 'Units at or below 20% AMI',
 'Units at or below 30% AMI',
 'Units at 35% AMI',
 'Units at 40% AMI',
 'Units at 45% AMI',
 'Units at 50% AMI',
 'Units at 55% AMI',
 'Units at 60% AMI',
 'Units at 70% AMI',
 'Units at 80% AMI',
 'Annual Federal Award',
 'Total State Award']

In [10]:
lihtcinfo = oldlihtc[infocols].copy()

In [11]:
lihtcinfo['FirstTwoDigits'] = lihtcinfo['Application Number'].str[:2].astype(int)
# Create a copy of the DataFrame based on the condition (first two numbers greater than 18)
filtered_df = lihtcinfo[(lihtcinfo['FirstTwoDigits'] >= 19) & (lihtcinfo['FirstTwoDigits'] <= 23)].copy()

# Drop the helper column 'FirstTwoDigits' if needed
lihtcinfo1 = filtered_df.drop('FirstTwoDigits', axis=1)

In [13]:
lihtcinfo1['Application Number'] = lihtcinfo1['Application Number'].str.strip()

# Final Nine Percent

In [24]:
cdlac9 = lihtcinfo1[
    (lihtcinfo1['Type of tax credit funding'] == '.09') |
    (lihtcinfo1['Type of tax credit funding'] == 0.09) |
    (lihtcinfo1['Type of tax credit funding'] == '9 %')
].copy()

In [35]:
cdlac9 = cdlac9[~cdlac9['Application Number'].str.startswith('19-')]

In [25]:
combined9per=pd.concat([cdlac9,allnineperfinal],ignore_index=False)
combined9per.drop(combined9per.columns[combined9per.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [41]:
# Assuming 'application_number' is the column with application numbers in both dataframes
combined9per = pd.merge(cdlac9,allnineperfinal, on='Application Number', how='left')

# Drop any columns with 'Unnamed' in the column name
combined9per = combined9per.loc[:, ~combined9per.columns.str.contains('^Unnamed')]

# If needed, reset the index
combined9per.reset_index(drop=True, inplace=True)

In [42]:
duplicates = combined9per.duplicated(subset='Application Number', keep=False)
duplicated_values = combined9per[duplicates]['Application Number']

# Print the duplicated values and their counts
print("Duplicate Values:")
print(duplicated_values)

print("\nCounts:")
print(duplicated_values.value_counts())

Duplicate Values:
105    20-914
106    20-914
Name: Application Number, dtype: object

Counts:
20-914    2
Name: Application Number, dtype: int64

In [43]:
combined9per.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 41 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Application Number              302 non-null    object
 1   Type of tax credit funding      302 non-null    object
 2   Construction Type               302 non-null    object
 3   Developer                       302 non-null    object
 4   Housing Type                    301 non-null    object
 5   Project Address                 302 non-null    object
 6   Project Name                    302 non-null    object
 7   Project City                    302 non-null    object
 8   Project Zip Code                302 non-null    object
 9   Project County                  302 non-null    object
 10  Census Tract                    300 non-null    object
 11  Assessor's Parcel Number (APN)  296 non-null    object
 12  Placed in Service (PIS) Date    287 non-null    datetime64[ns]
 13  Total Units_x                   302 non-null    float64
 14  Low Income Units                302 non-null    float64
 15  Number of SRO/Studio Units      302 non-null    float64
 16  Number of 1 Bedroom Units       302 non-null    float64
 17  Number of 2 Bedroom Units       302 non-null    float64
 18  Number of 3 Bedroom Units       302 non-null    float64
 19  Number of 4 Bedroom Units       302 non-null    float64
 20  Number of 5 Bedroom Units       302 non-null    float64
 21  Number of 6 Bedroom Units       302 non-null    float64
 22  Units at or below 20% AMI       204 non-null    float64
 23  Units at or below 30% AMI       302 non-null    float64
 24  Units at 35% AMI                302 non-null    float64
 25  Units at 40% AMI                302 non-null    float64
 26  Units at 45% AMI                302 non-null    float64
 27  Units at 50% AMI                302 non-null    float64
 28  Units at 55% AMI                302 non-null    float64
 29  Units at 60% AMI                302 non-null    float64
 30  Units at 70% AMI                199 non-null    float64
 31  Units at 80% AMI                206 non-null    float64
 32  Annual Federal Award            302 non-null    object
 33  Total State Award               88 non-null     float64
 34  Cost Per Unit                   213 non-null    float64
 35  Eligible Basis                  187 non-null    float64
 36  Land Cost                       217 non-null    float64
 37  Construction Cost               217 non-null    float64
 38  Total Cost                      217 non-null    float64
 39  Total Units_y                   139 non-null    float64
 40  Type                            217 non-null    object
dtypes: datetime64[ns](1), float64(26), object(14)
memory usage: 96.9+ KB

In [149]:
test = combined9per[combined9per['Application Number'] == '21-173'].copy()
test

,Application Number,Cost Per Unit,Eligible Basis,Land Cost,Construction Cost,Total Cost,Total Units_x,Type,Type of tax credit funding,Construction Type,...,Units at 35% AMI,Units at 40% AMI,Units at 45% AMI,Units at 50% AMI,Units at 55% AMI,Units at 60% AMI,Units at 70% AMI,Units at 80% AMI,Annual Federal Award,Total State Award
459,21-173,345940.493827,328689.308642,387541.0,20110531.0,28021180.0,81.0,9%,9 %,New Construction,...,0.0,14.0,0.0,21.0,0.0,16.0,0.0,0.0,2500000,NaN

# Final Four Percent

In [340]:
cdlac4 = lihtcinfo1[
    (lihtcinfo1['Type of tax credit funding'] == '.04') |
    (lihtcinfo1['Type of tax credit funding'] == 0.04) |
    (lihtcinfo1['Type of tax credit funding'] == '4 %') |
    (lihtcinfo1['Type of tax credit funding'] == '4%')
].copy()

In [353]:
combined4per=pd.concat([cdlac4,allfourperfinal],ignore_index=False)
combined4per.drop(combined4per.columns[combined4per.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
combined4per = combined4per[combined4per['Type'] != '9%']

In [355]:
duplicates = combined4per.duplicated(subset='Application Number', keep=False)
duplicated_values = combined4per[duplicates]['Application Number']

# Print the duplicated values and their counts
print("Duplicate Values:")
print(duplicated_values)

print("\nCounts:")
print(duplicated_values.value_counts())

Duplicate Values:
5084    20-402
5085    20-406
5086    20-408
5087    20-409
5088    20-410
         ...
314     20-900
315     20-901
316     20-902
317     20-903
318     20-904
Name: Application Number, Length: 1024, dtype: object

Counts:
20-402    2
20-406    2
22-444    2
22-442    2
22-439    2
         ..
20-733    2
20-731    2
20-730    2
20-729    2
23-575    2
Name: Application Number, Length: 512, dtype: int64

In [363]:
combined4per2 = combined4per.groupby('Application Number').apply(lambda group: group.ffill().bfill())

C:\Users\thech\AppData\Local\Temp\ipykernel_8180\4055294701.py:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  combined4per2 = combined4per.groupby('Application Number').apply(lambda group: group.ffill().bfill())

# To Do

In [ ]:
# drop 2019 applications 
#add addres
# add # of Units

In [591]:
combined4per2['Year']='20'+newconstruction['Application Number'].str[:2]

In [3]:
combined4per2.to_csv('4%Applications.csv')

NameError: name 'combined4per2' is not defined

 # Analysis

In [20]:
lihtcall=pd.read_csv('CDLACApplications.csv')

In [21]:
fourper=pd.read_csv('cdlac4per.csv')

In [5]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\thech\anaconda3\envs\uds\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import xlrd

## Import winning 4 percent application numbers

In [7]:
fouperwins20r1=pd.read_excel('2020-1st-Round-State-Credit-Applicant-and-Award-List.xls')
fouperwins20r2=pd.read_excel('2020-2nd-Round-State-Credit-Applicant-and-Award-List.xlsx')
fouperwins20r3=pd.read_excel('2020-cycle-4-december-applicant-list.xlsx')
fouperwins21r1=pd.read_excel('2021-Cycle-1-Awards.xlsx')
fouperwins21r2=pd.read_excel('2021-Cycle-2-Applicant-List 9-8-21-with-Award.xlsx')
fouperwins21r3=pd.read_excel('2021-round-3-award-list.xlsx')
fouperwins22r1=pd.read_excel('4Per22R1.xlsx')
fouperwins22r2=pd.read_excel('4per22r1 (2).xlsx')
fouperwins23r1=pd.read_csv('4Perf23R1.csv')
fouperwins23r2=pd.read_csv('4Per23R2.csv',low_memory=False)

In [8]:
fourperwins20=pd.concat([fouperwins20r1,
fouperwins20r2,
fouperwins20r3])

In [9]:
fourperwins21=pd.concat([fouperwins21r1,
fouperwins21r2,
fouperwins21r3])

In [10]:
fourperwins22=pd.concat([fouperwins22r1,
fouperwins22r2])

In [11]:
fourperwins23=pd.concat([fouperwins23r1,
fouperwins23r2])

In [12]:
fourperwins20=fourperwins20.rename(columns={'TCAC NUMBER':'APPLICATION NUMBER'})

In [13]:
fourperwins=pd.concat([
fourperwins20,fourperwins21,fourperwins22,fourperwins23
])

In [14]:
fourperwins['APPLICATION NUMBER']= fourperwins['APPLICATION NUMBER'].str.extract(r'(\d+-\d+)')

In [15]:
listofwins=fourperwins['APPLICATION NUMBER'].to_list()

In [16]:
fourper=fourper[fourper['Application Number'].isin(listofwins)]

In [23]:
fourper

,Unnamed: 0,Application Number,Cost Per Unit,Eligible Basis,Land Cost,Construction Cost,Total Cost,Prevailing Wage,MIP,Recycled Bonds,Type,Total Units,City,County,Year
0,0,21-400,418724.128571,392901.485714,2300000.0,0.0,5.862138e+07,0.0,NaN,NaN,4%,140.0,San Diego,San Diego,2021
1,1,21-419,533668.316667,463452.966667,3000000.0,19939653.0,3.202010e+07,1039210.0,NaN,NaN,4%,60.0,San Diego,San Diego,2021
2,2,21-420,458043.102041,425403.693878,602000.0,15096000.0,2.244411e+07,778946.0,NaN,NaN,4%,49.0,Redding,Shasta,2021
3,3,21-421,436342.487500,387675.025000,3000000.0,44507025.0,6.981480e+07,2154000.0,NaN,Row 931: Recycled Bonds - CSCDA,4%,160.0,Santa Maria,Santa Barbara,2021
4,4,21-422,394917.583333,256284.416667,600000.0,8752617.0,1.895604e+07,304068.5,NaN,NaN,4%,48.0,Paradise,Butte,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100,1100,20-901,870368.606061,739111.651515,9633333.0,62358123.0,1.148887e+08,0.0,Row 620: CalHFA - MIP Loan,NaN,4%,132.0,Burlingame,San Mateo,2020
1101,1101,20-902,387565.057588,331311.170069,14000000.0,83515373.0,1.379732e+08,0.0,Row 619: CalHFA MIP,NaN,4%,356.0,Los Angeles,Los Angeles,2020
1102,1102,20-903,463354.641509,441944.754717,604311.0,14847670.0,2.455780e+07,0.0,NaN,NaN,4%,53.0,San Diego,San Diego,2020
1103,1103,20-904,470804.070988,446205.685185,5700000.0,0.0,1.525405e+08,0.0,NaN,NaN,4%,324.0,San Pablo,Contra Costa,2020
1104,1104,20-915,551090.103448,505518.637931,1460000.0,19931158.0,3.196323e+07,0.0,NaN,NaN,4%,58.0,Bakersfield,Kern,2020

## Analysis

In [22]:
newconstruction=(fourper[fourper['Construction Cost'] > 0]).copy()

In [18]:
newconstruction.to_excel('4%NewConstruction.xlsx')

In [19]:
newconstructionall=(lihtcall[lihtcall['Construction Cost'] > 0]).copy()

In [20]:
newconstruction['Year']='20'+newconstruction['Application Number'].str[:2]

In [21]:
newconstructionall['Year']='20'+newconstructionall['Application Number'].str[:2]

In [22]:
newconstruction.to_excel('FourperNewC.xlsx')

In [23]:
laboranalysis=newconstruction[newconstruction['Prevailing Wage'] > 0].copy()

In [13]:
newconstruction['Cost Per Unit'].describe()

count    8.800000e+02
mean     5.762882e+05
std      1.900203e+05
min      1.769378e+05
25%      4.348811e+05
50%      5.502898e+05
75%      6.829996e+05
max      1.205185e+06
Name: Cost Per Unit, dtype: float64

In [26]:
1.769378e+05

176937.8

In [27]:
latotals = newconstruction[(newconstruction['City'] == 'Los Angeles') | (newconstruction['City'] == 'Los Angeles (Chatsworth)')].copy()

In [30]:
la23=latotals[latotals['Year'] == '2023']

In [31]:
lihtc2122=newconstructionall[newconstructionall['Year'] == '2023']

In [32]:
cities2122=lihtc2122.groupby(['County']).sum()

C:\Users\thech\AppData\Local\Temp\ipykernel_13988\2044171746.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  cities2122=lihtc2122.groupby(['County']).sum()

In [33]:
cities2122=cities2122.copy()

In [34]:
cities2122['Total Units'].sum()

21003.0

In [35]:
bottom_decile_cities=cities2122['Total Units'].quantile(0.40)

In [36]:
bottom_decile_cities

257.6

In [37]:
cities2122dec=cities2122[cities2122['Total Units'] <= bottom_decile_cities]

In [38]:
citydrop=[
 'Cost Per Unit',
 'Eligible Basis/Unit',
 'Land Cost',
 'Construction Cost',
 'Total Cost',
 'Total Eligible Basis',
 'Prevailing Wage',
 'Labor Percentage of Construction',
 'Labor Percentage of Total']

In [39]:
cities2122dec= cities2122dec[["Total Units"]]

In [40]:
cities2122dec['% of all Units']=cities2122dec['Total Units']/21003

In [41]:
cities2122dec

                 Total Units  % of all Units
County
Colusa                  31.0        0.001476
Del Norte              213.0        0.010141
El Dorado               72.0        0.003428
Imperial               224.0        0.010665
Nevada                  55.0        0.002619
San Joaquin             51.0        0.002428
San Luis Obispo        124.0        0.005904
Santa Cruz             200.0        0.009522
Shasta                  49.0        0.002333
Solano                 160.0        0.007618
Stanislaus             144.0        0.006856
Yolo                    18.0        0.000857
Yuba                    32.0        0.001524

In [42]:
lihtc2122.head()

,Unnamed: 0,Application Number,Cost Per Unit,Eligible Basis/Unit,Land Cost,Construction Cost,Total Cost,Type,Total Units,City,County,Total Eligible Basis,Year,Prevailing Wage,MIP,Recycled Bonds,Labor Percentage of Construction,Labor Percentage of Total
952,952,23-001,787499.402985,609221.298507,0.0,34232518.0,5.276246e+07,9%,67.0,Los. Angeles,Los Angeles,4.081783e+07,2023,NaN,NaN,NaN,NaN,NaN
953,953,23-002,586467.588235,492267.000000,663000.0,10262926.0,2.990985e+07,9%,51.0,Stockton,San Joaquin,2.510562e+07,2023,NaN,NaN,NaN,NaN,NaN
954,954,23-003,911630.535200,786966.599318,2061601.0,24353154.0,4.102337e+07,9%,45.0,Alameda,Alameda,3.541350e+07,2023,NaN,NaN,NaN,NaN,NaN
956,956,23-005,820757.250000,678208.908333,4850000.0,22826827.0,3.939635e+07,9%,48.0,West Hollywood,Los Angeles,3.255403e+07,2023,NaN,NaN,NaN,NaN,NaN
957,957,23-006,870512.580000,671554.100000,6400000.0,24085188.0,4.352563e+07,9%,50.0,West Hollywood,Los Angeles,3.357770e+07,2023,NaN,NaN,NaN,NaN,NaN

In [43]:
laboranalysis['Labor Percentage of Construction']=laboranalysis['Prevailing Wage']/laboranalysis['Construction Cost']
laboranalysis['Labor Percentage of Total']=laboranalysis['Prevailing Wage']/laboranalysis['Total Cost']

In [44]:
laboranalysis['Labor Percentage of Construction'].mean()

0.04311210790902908

In [45]:
laboranalysis['Labor Percentage of Total'].mean()

0.02562256227318832

In [46]:
latotals['Cost Per Unit'].describe()

count        82.000000
mean     611313.562226
std      110384.073567
min      387565.057588
25%      540123.250739
50%      603065.550671
75%      646957.304409
max      986372.559322
Name: Cost Per Unit, dtype: float64

In [47]:
47/84

0.5595238095238095

In [48]:
city=laboranalysis.groupby('City')
city
citycounts = city['Application Number'].count()/347

pd.set_option('display.max_rows', None)

# Display the counts
print(citycounts)

# Reset display option to default (optional)
pd.reset_option('display.max_rows')

City
Alameda                          0.002882
Anaheim                          0.002882
Atascadero                       0.002882
Bakersfield                      0.005764
Bay Point (Unincorporated)       0.002882
Beaumont                         0.002882
Berkeley                         0.005764
Berkeley                         0.002882
Burbank                          0.002882
Burlingame                       0.002882
Camarillo                        0.005764
Capitola                         0.002882
Carlsbad                         0.005764
Chula Vista                      0.002882
Coalinga                         0.005764
Concord                          0.005764
Diamond Springs                  0.005764
Dixon                            0.002882
East Garrison                    0.005764
El Centro                        0.002882
El Monte                         0.002882
Elk Grove                        0.025937
Escondido                        0.008646
Eureka                           0.002882
Fair Oaks                        0.002882
Folsom                           0.005764
Fremont                          0.008646
Fresno                           0.005764
Gilroy                           0.002882
Glendale                         0.008646
Goshen                           0.005764
Gridley                          0.002882
Hanford                          0.005764
Hayward                          0.008646
Holtville                        0.002882
Huntington Beach                 0.002882
Huron                            0.008646
Imperial                         0.002882
Imperial                         0.005764
Imperial                         0.002882
Indio                            0.005764
Irvine                           0.011527
La Mesa                          0.002882
Lake Forest                      0.008646
Lakre Forest                     0.002882
Lindsay                          0.005764
Live Oak                         0.002882
Livermore                        0.002882
Long Beach                       0.014409
Los Angeles                      0.126801
Los Angeles                      0.005764
Los Angeles (Chatsworth)         0.002882
Mammoth Lakes                    0.008646
Marina                           0.011527
Merced                           0.005764
Milpitas                         0.002882
Moorpark                         0.005764
Morgan Hill                      0.005764
Morgan Hill                      0.002882
Morro Bay                        0.005764
Mountain View                    0.002882
Murrieta                         0.005764
National City                    0.005764
North Hills                      0.002882
Oakland                          0.031700
Oakland                          0.008646
Oakley                           0.002882
Orange                           0.011527
Orland                           0.005764
Oxnard                           0.011527
Palm Desert                      0.011527
Palm Desert                      0.002882
Palm Springs                     0.005764
Palmdale                         0.008646
Panorama City                    0.005764
Paradise                         0.002882
Pasadena                         0.005764
Perris                           0.002882
Pinole                           0.002882
Pismo Beach                      0.002882
Placentia                        0.002882
Placerville                      0.005764
Plumas Lake                      0.005764
Pomona                           0.002882
Porterville                      0.002882
Quartz Hill                      0.005764
Rancho Cordova                   0.002882
Redding                          0.005764
Redwood City                     0.002882
Ridgecrest                       0.002882
Riverside                        0.005764
Riverside                        0.002882
Rocklin                          0.002882
Roseville                        0.011527
Sacramento                       0.031700
San Diego                        0.051873
San Diego                        0.002882
San Francisco                    0.031700
San Francisco                    0.002882
San Jose                         0.040346
San Leandro                      0.011527
San Luis Obispo                  0.002882
San Marcos                       0.002882
San Mateo                        0.002882
San Pablo                        0.008646
San Ramon                        0.005764
San Ysidro                       0.008646
Santa Ana                        0.002882
Santa Clara                      0.005764
Santa Clara                      0.008646
Santa Fe Springs Village         0.002882
Santa Maria                      0.008646
Santa Monica                     0.002882
Santa Rosa                       0.014409
Simi Valley                      0.005764
Soledad                          0.002882
Somis                            0.005764
South Lake Tahoe                 0.002882
Sunnyvale                        0.002882
Temecula                         0.005764
Torrance                         0.002882
Tulare                           0.002882
Unincorporated                   0.011527
Unincorporated                   0.005764
Unincorporated Los Angeles       0.002882
Unincorporated Marin County      0.002882
Unincorporated Ventura County    0.002882
Vacaville                        0.002882
Vallejo                          0.002882
Ventura                          0.002882
Wasco                            0.002882
West Sacramento                  0.002882
Wheatland                        0.002882
Whittier                         0.002882
Windsor                          0.017291
unincorporated                   0.002882
Name: Application Number, dtype: float64

In [49]:
lalaboranalysis=laboranalysis[laboranalysis['City'] == 'Los Angeles'].copy()

In [50]:
47/347

0.13544668587896252

In [51]:
lalaboranalysis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44 entries, 79 to 1089
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        44 non-null     int64
 1   Application Number                44 non-null     object
 2   Cost Per Unit                     44 non-null     float64
 3   Eligible Basis                    44 non-null     float64
 4   Land Cost                         44 non-null     float64
 5   Construction Cost                 44 non-null     float64
 6   Total Cost                        44 non-null     float64
 7   Prevailing Wage                   44 non-null     float64
 8   MIP                               0 non-null      object
 9   Recycled Bonds                    6 non-null      object
 10  Type                              44 non-null     object
 11  Total Units                       44 non-null     float64
 12  City                              44 non-null     object
 13  County                            44 non-null     object
 14  Year                              44 non-null     object
 15  Labor Percentage of Construction  44 non-null     float64
 16  Labor Percentage of Total         44 non-null     float64
dtypes: float64(9), int64(1), object(7)
memory usage: 6.2+ KB

In [78]:
347 /578

0.6003460207612457

In [72]:
109/578

0.18858131487889274

In [132]:
8/82

0.0975609756097561

In [130]:
latotals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82 entries, 79 to 1101
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          82 non-null     int64
 1   Application Number  82 non-null     object
 2   Cost Per Unit       82 non-null     float64
 3   Eligible Basis      82 non-null     float64
 4   Land Cost           82 non-null     float64
 5   Construction Cost   82 non-null     float64
 6   Total Cost          82 non-null     float64
 7   Prevailing Wage     82 non-null     float64
 8   MIP                 4 non-null      object
 9   Recycled Bonds      8 non-null      object
 10  Type                82 non-null     object
 11  Total Units         82 non-null     float64
 12  City                82 non-null     object
 13  County              82 non-null     object
 14  Year                82 non-null     object
dtypes: float64(7), int64(1), object(7)
memory usage: 10.2+ KB

In [68]:
g=newconstruction[(newconstruction['MIP'].notnull()) | (newconstruction['Recycled Bonds'].notnull())]

In [100]:
lamip=latotals[(latotals['MIP'].notnull()) | (latotals['Recycled Bonds'].notnull())]

In [145]:
lamip.to_excel('LAMIP.xlsx')

In [59]:
mipapps=g['Application Number'].to_list()

In [60]:
mipapps

['21-508',
 '21-562',
 '21-714',
 '21-741',
 '22-447',
 '23-442',
 '23-451',
 '23-472',
 '20-427',
 '20-428',
 '20-541',
 '20-902']

In [61]:
mipapps=[''+s for s in mipapps]

In [66]:
12/587

0.020442930153321975

In [130]:
newconstruction[newconstruction['Cost Per Unit'] <= 176938]

,Unnamed: 0,Application Number,Cost Per Unit,Eligible Basis,Land Cost,Construction Cost,Total Cost,Prevailing Wage,MIP,Recycled Bonds,Type,Total Units,City,County,Year
883,883,20-516,176937.761111,159040.111111,2250000.0,20077826.0,31848797.0,0.0,Row 621: CalHFA MIP Loan,NaN,4%,180.0,Fresno,Fresno,2020

In [131]:
laboranalysis['City'].value_counts()

Los Angeles                 44
San Diego                   18
San Jose                    14
Sacramento                  11
San Francisco               11
                            ..
North Hills                  1
Los Angeles (Chatsworth)     1
San Diego                    1
Porterville                  1
Vacaville                    1
Name: City, Length: 136, dtype: int64

In [132]:
noprevwage=newconstruction[newconstruction['Prevailing Wage'] <=  0].copy()

In [133]:
latotals['Cost Per Unit'].mean()

612104.5530055369

In [134]:
lalaboranalysis['Cost Per Unit'].mean()

622150.2285326087

In [135]:
lanoprevwage=noprevwage[noprevwage['City'] == 'Los Angeles'].copy()

In [136]:
latotals['Cost Per Unit'].mean()

612104.5530055369

In [137]:
la23['Cost Per Unit'].mean()

677827.6177139251

In [138]:
bottom_decile_values23 = la23['Cost Per Unit'].quantile(0.1)

In [139]:
bottom_decile_values23 = la23['Cost Per Unit'].quantile(0.1)

In [140]:
la23dec=la23[la23['Cost Per Unit'] <= bottom_decile_values23]

In [142]:
la23.sort_values('Cost Per Unit')

,Unnamed: 0,Application Number,Cost Per Unit,Eligible Basis,Land Cost,Construction Cost,Total Cost,Prevailing Wage,MIP,Recycled Bonds,Type,Total Units,City,County,Year
628,628,23-482,563290.940000,463977.710000,4400000.0,3.357348e+07,5.632909e+07,0.0,NaN,NaN,4%,100.0,Los Angeles,Los Angeles,2023
588,588,23-442,581128.565694,486518.544356,10650300.0,5.430909e+07,1.005352e+08,0.0,NaN,"Row 552: Loan, Tax-Exempt, Recycled",4%,173.0,Los Angeles,Los Angeles,2023
645,645,23-500,597458.792589,501844.106028,8000100.0,5.590155e+07,9.559341e+07,0.0,NaN,NaN,4%,160.0,Los Angeles,Los Angeles,2023
597,597,23-451,646997.106667,578947.240000,0.0,3.084083e+07,4.852478e+07,5000000.0,NaN,"Row 623: Loan, Tax-Exempt, Recycled",4%,75.0,Los Angeles,Los Angeles,2023
618,618,23-472,747296.000000,659595.880000,7500000.0,4.279327e+07,7.472960e+07,0.0,NaN,"Row 555: Citibank, N.A. - Recycled Bonds",4%,100.0,Los Angeles,Los Angeles,2023
608,608,23-462,790533.619048,656263.761905,6000000.0,3.724542e+07,6.640482e+07,0.0,NaN,NaN,4%,84.0,Los Angeles,Los Angeles,2023
630,630,23-484,818088.300000,626897.370000,7350000.0,4.422134e+07,8.180883e+07,0.0,NaN,NaN,4%,100.0,Los Angeles,Los Angeles,2023

In [138]:
bottom_decile_values = latotals['Cost Per Unit'].quantile(0.1)
bottom_decile_values

494575.3635391347

In [143]:
p=latotals[latotals['Cost Per Unit'] <= 496575]

In [144]:
p

,Unnamed: 0,Application Number,Cost Per Unit,Eligible Basis,Land Cost,Construction Cost,Total Cost,Prevailing Wage,MIP,Recycled Bonds,Type,Total Units,City,County,Year
90,90,21-508,449840.959150,330921.804150,22275000.0,3.573013e+07,8.996819e+07,1341927.25,NaN,Row 565: Citi Community Cap - RecycledBonds,4%,200.0,Los Angeles,Los Angeles,2021
113,113,21-531,468997.468085,365041.425532,3200000.0,1.125232e+07,2.204288e+07,514210.00,NaN,NaN,4%,47.0,Los Angeles,Los Angeles,2021
144,144,21-562,449832.655000,360668.880000,16275000.0,4.209252e+07,8.996653e+07,1648427.00,NaN,Row 565: ATAX - Recycled Bonds,4%,200.0,Los Angeles,Los Angeles,2021
295,295,21-714,491638.520000,401698.520000,16275000.0,4.122898e+07,9.832770e+07,1438741.00,NaN,Row 565: ATAX - Recycled Bonds,4%,200.0,Los Angeles,Los Angeles,2021
322,322,21-741,466556.116788,449091.554745,0.0,4.477092e+07,6.391819e+07,882532.50,NaN,Row 565: Recycled Bonds,4%,137.0,Los Angeles,Los Angeles,2021
906,906,20-539,452014.020408,408535.979592,1500000.0,1.482955e+07,2.214869e+07,0.00,NaN,NaN,4%,49.0,Los Angeles,Los Angeles,2020
929,929,20-562,408753.510204,345502.510204,3500000.0,2.864196e+07,4.005784e+07,0.00,NaN,NaN,4%,98.0,Los Angeles,Los Angeles,2020
1053,1053,20-695,494330.882353,459820.431373,0.0,1.497361e+07,2.521088e+07,0.00,NaN,NaN,4%,51.0,Los Angeles,Los Angeles,2020
1101,1101,20-902,387565.057588,331311.170069,14000000.0,8.351537e+07,1.379732e+08,0.00,Row 619: CalHFA MIP,NaN,4%,356.0,Los Angeles,Los Angeles,2020

In [87]:
latotals['Cost Per Unit'].describe()

count       113.000000
mean     619498.066180
std      123815.842209
min      330528.932886
25%      538175.664474
50%      606242.703704
75%      673796.045455
max      986372.559322
Name: Cost Per Unit, dtype: float64

In [90]:
latotals['Innovative Finance'] = np.where((latotals['MIP'].notnull()) | (latotals['Recycled Bonds'].notnull()), 1, 0)

In [91]:
latotals

,Unnamed: 0,Application Number,Cost Per Unit,Eligible Basis,Land Cost,Construction Cost,Total Cost,Prevailing Wage,MIP,Recycled Bonds,Type,Total Units,City,County,Year,Innovative Finance
79,79,21-497,605922.789474,410673.842105,7700000.0,2.750808e+07,5.756266e+07,5.806090e+05,NaN,NaN,4%,95.0,Los Angeles,Los Angeles,2021,0
90,90,21-508,449840.959150,330921.804150,22275000.0,3.573013e+07,8.996819e+07,1.341927e+06,NaN,Row 565: Citi Community Cap - RecycledBonds,4%,200.0,Los Angeles,Los Angeles,2021,1
91,91,21-509,986372.559322,940967.101695,0.0,8.066209e+07,1.163920e+08,8.018440e+05,NaN,NaN,4%,118.0,Los Angeles,Los Angeles,2021,0
92,92,21-510,804045.645161,758362.129032,0.0,3.202103e+07,4.985083e+07,2.906220e+05,NaN,NaN,4%,62.0,Los Angeles,Los Angeles,2021,0
111,111,21-529,650425.612821,615736.976106,0.0,3.404629e+07,5.073320e+07,1.370449e+06,NaN,NaN,4%,78.0,Los Angeles,Los Angeles,2021,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084,1084,20-728,570206.115179,517210.392857,750000.0,1.919985e+07,3.193154e+07,0.000000e+00,NaN,NaN,4%,56.0,Los Angeles,Los Angeles,2020,0
1086,1086,20-730,578434.952381,472703.365079,4490000.0,2.030341e+07,3.644140e+07,0.000000e+00,NaN,NaN,4%,63.0,Los Angeles,Los Angeles,2020,0
1089,1089,20-733,847649.719430,713217.061203,250000.0,1.168237e+07,6.696433e+07,2.478000e+06,NaN,NaN,4%,79.0,Los Angeles,Los Angeles,2020,0
1096,1096,20-741,635983.957447,528415.382979,6150000.0,3.136554e+07,5.978249e+07,0.000000e+00,NaN,NaN,4%,94.0,Los Angeles,Los Angeles,2020,0
1101,1101,20-902,387565.057588,331311.170069,14000000.0,8.351537e+07,1.379732e+08,0.000000e+00,Row 619: CalHFA MIP,NaN,4%,356.0,Los Angeles,Los Angeles,2020,1

In [148]:
p.to_excel('BottomDecileLA.xlsx')

In [149]:
newconstruction['Innovative Finance'] = np.where((newconstruction['MIP'].notnull()) | (newconstruction['Recycled Bonds'].notnull()), 1, 0)

In [150]:
latotals['Innovative Finance'] = np.where((latotals['MIP'].notnull()) | (latotals['Recycled Bonds'].notnull()), 1, 0)

In [151]:
import statsmodels.api as sm
import pandas as pd

# Assuming df is your dataframe
# X contains the independent variables, and y is the dependent variable
X = latotals[['Construction Cost', 'Prevailing Wage', 'Land Cost','Innovative Finance','Total Units']]
y = latotals['Cost Per Unit']

# Add a constant term to the independent variables
X = sm.add_constant(X)

# Fit the regression model
model = sm.OLS(y, X).fit()

# Print the summary
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          Cost Per Unit   R-squared:                       0.541
Model:                            OLS   Adj. R-squared:                  0.511
Method:                 Least Squares   F-statistic:                     17.90
Date:                Fri, 01 Dec 2023   Prob (F-statistic):           1.09e-11
Time:                        18:48:33   Log-Likelihood:                -1036.1
No. Observations:                  82   AIC:                             2084.
Df Residuals:                      76   BIC:                             2099.
Df Model:                           5
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const               6.017e+05   1.81e+04     33.316      0.000    5.66e+05    6.38e+05
Construction Cost      0.0090      0.001      8.550      0.000       0.007       0.011
Prevailing Wage        0.0075      0.008      0.918      0.362      -0.009       0.024
Land Cost              0.0096      0.003      3.182      0.002       0.004       0.016
Innovative Finance  2.154e+04   2.85e+04      0.755      0.452   -3.53e+04    7.83e+04
Total Units        -3565.8401    449.814     -7.927      0.000   -4461.723   -2669.957
==============================================================================
Omnibus:                       57.849   Durbin-Watson:                   1.703
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              330.116
Skew:                           2.092   Prob(JB):                     2.07e-72
Kurtosis:                      11.895   Cond. No.                     1.20e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.2e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

In [1]:
2.154e+04

21540.0

In [152]:
fillit=['Cost Per Unit',
 'Eligible Basis',
 'Land Cost',
 'Construction Cost',
 'Total Cost',
 'Prevailing Wage','Total Units']

In [153]:
for column in fillit:
    newconstruction[column] = newconstruction[column].fillna(0)

In [154]:
# Assuming df is your dataframe
# X contains the independent variables, and y is the dependent variable
X = newconstruction[['Construction Cost','Total Units', 'Prevailing Wage', 'Land Cost','Innovative Finance']]
y = newconstruction['Cost Per Unit']

# Add a constant term to the independent variables
X = sm.add_constant(X)

# Fit the regression model
model = sm.OLS(y, X).fit()

# Print the summary
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          Cost Per Unit   R-squared:                       0.731
Model:                            OLS   Adj. R-squared:                  0.728
Method:                 Least Squares   F-statistic:                     310.3
Date:                Fri, 01 Dec 2023   Prob (F-statistic):          2.81e-160
Time:                        18:48:35   Log-Likelihood:                -7449.3
No. Observations:                 578   AIC:                         1.491e+04
Df Residuals:                     572   BIC:                         1.494e+04
Df Model:                           5
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const               5.329e+05   8421.061     63.287      0.000    5.16e+05    5.49e+05
Construction Cost      0.0098      0.000     36.144      0.000       0.009       0.010
Total Units        -3272.0878    105.626    -30.978      0.000   -3479.549   -3064.626
Prevailing Wage        0.0091      0.004      2.380      0.018       0.002       0.017
Land Cost              0.0104      0.001      8.099      0.000       0.008       0.013
Innovative Finance -2.046e+04   9987.437     -2.049      0.041   -4.01e+04    -847.791
==============================================================================
Omnibus:                       76.870   Durbin-Watson:                   1.765
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              719.016
Skew:                           0.083   Prob(JB):                    7.37e-157
Kurtosis:                       8.461   Cond. No.                     1.02e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.02e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

In [155]:
from scipy.stats import ttest_ind

group1 = latotals[latotals['Innovative Finance'] == 0]['Cost Per Unit']
group2 = latotals[latotals['Innovative Finance'] == 1]['Cost Per Unit']

t_stat, p_value = ttest_ind(group1, group2)

In [172]:
t_stat

2.278303448696218

# Pulling additional Information for Los Angeles Projects

## Separating LA Projects

In [26]:
lacounty= newconstruction[(newconstruction['County'] == 'Los Angeles')].copy()

In [27]:
lacounty.head()

,Unnamed: 0,Application Number,Cost Per Unit,Eligible Basis,Land Cost,Construction Cost,Total Cost,Prevailing Wage,MIP,Recycled Bonds,Type,Total Units,City,County,Year
12,12,21-430,246439.950276,211438.254144,5500000.0,26384017.0,4.460563e+07,1372580.0,NaN,NaN,4%,181.0,Pasadena,Los Angeles,2021
19,19,21-437,603625.738636,543108.193182,1875000.0,34200406.0,5.311906e+07,777032.5,NaN,NaN,4%,88.0,Long Beach,Los Angeles,2021
21,21,21-439,316328.085662,276728.482353,3060000.0,31407072.0,5.377577e+07,1439796.0,NaN,Row 565: Merchants Capital Recycled Bonds,4%,170.0,Palmdale,Los Angeles,2021
39,39,21-457,640825.573529,550142.661765,2950000.0,24492757.0,4.357614e+07,527784.0,NaN,NaN,4%,68.0,Long Beach,Los Angeles,2021
53,53,21-471,604331.520000,548723.856000,2790000.0,46111240.0,7.554144e+07,2426907.0,NaN,NaN,4%,125.0,Pomona,Los Angeles,2021

In [33]:

output_folder = 'LA County'
os.makedirs(output_folder, exist_ok=True)

# Convert 'Application Number' column to a set for faster lookup
application_numbers = set(lacounty['Application Number'].tolist())

# Specify the paths to the folders containing the Excel files
excel_folders = ['TCAC_2020_4%', 'TCAC_2021_4%','TCAC_2023_4%']

for excel_folder in excel_folders:
    # Loop through the files in the source folder
    for file_name in os.listdir(excel_folder):
        # Check if the file is in the list of application numbers
        if file_name.endswith('.xlsx') and file_name[:-5] in application_numbers:
            source_path = os.path.join(excel_folder, file_name)
            destination_path = os.path.join(output_folder, file_name)

            # Use shutil.copy2 to preserve metadata
            shutil.copy2(source_path, destination_path)
            # Uncomment the line below if you want to move instead of copy
            # shutil.move(source_path, destination_path)

print("Files copied/moved successfully.")

Files copied/moved successfully.

In [35]:
source_folder = 'LA County'
output_folders = ['2020', '2021', '2022', '2023']

# Create output subfolders within the source folder if they don't exist
for folder in output_folders:
    os.makedirs(os.path.join(source_folder, folder), exist_ok=True)

# Loop through the files in the source folder
for file_name in os.listdir(source_folder):
    if file_name.endswith('.xlsx') and file_name.startswith(('20', '21', '22', '23')) and len(file_name) >= 4:
        source_path = os.path.join(source_folder, file_name)

        # Get the first two digits of the file name
        first_two_digits = file_name[:2]

        # Ensure the subfolder for the year exists
        year_subfolder = os.path.join(source_folder, first_two_digits)
        os.makedirs(year_subfolder, exist_ok=True)

        # Construct the destination path within the corresponding output subfolder
        destination_path = os.path.join(year_subfolder, file_name)

        # Use shutil.copy2 to preserve metadata
        shutil.copy2(source_path, destination_path)
        # Uncomment the line below if you want to move instead of copy
        # shutil.move(source_path, destination_path)

print("Files copied/moved successfully.")

Files copied/moved successfully.

## Extracting Data

## 2020

In [3]:
def ladata2020(file_name):
    import openpyxl
    import os
    import pandas as pd
    # Load the Excel file with openpyxl
    costperunit= None
    eligible= None
    landcost= None
    constructioncost= None
    totalcost= None
    prevailing= None
    mip= None
    recycled= None
    
    # Load the Excel file with openpyxl
    excel_file = openpyxl.load_workbook(file_name, data_only=True)
    
    # Access a specific sheet
    sheet_name1 = 'Application'
    sheet_name2='Sources and Uses Budget'
    sheet1 = excel_file[sheet_name1]
    sheet2 = excel_file[sheet_name2]

    # Extract the value from the merged cell (AC447)
    costperunit = sheet1['AC441'].value
    eligible= sheet1['AC443'].value
    landcost = sheet2['B4'].value
    constructioncost = sheet2['B36'].value
    totalcost= sheet2['B105'].value
    prevailing = sheet1['AA955'].value
    
     # Initialize MIP and Recycled Bonds variables
    mip = None
    recycled = None

    # # Search for 'MIP' or 'CDLAC' in cells C618-C629
    found_mip= False
    for row_number in range(608, 652):
        row = sheet1[row_number]
        for cell in row:
            if cell.value:
                if ('MIP' in str(cell.value).strip() or 'CDLAC' in str(cell.value).strip()):
                # MIP = cell_value
                    mip = (f"Row {row_number}: {cell.value}")
                    found_mip=True
                    break  # Stop searching when the first match is found
        if found_mip:
            break 

    # Search for 'recycled' throughout the entire 'Application' sheet (case-insensitive)
    # Iterate over rows from row 556 to 934
    found_recycled = False
    for row_number in range(537, 913):
        row = sheet1[row_number]

        for cell in row:
            if cell.value:
                if 'Recycled' in str(cell.value).strip():
                    recycled=(f"Row {row_number}: {cell.value}")
                    found_recycled = True
                    break
        if found_recycled:
            break  # Stop searching if 'Recycled' is found

    # Create a DataFrame
    excel = os.path.basename(file_name)
    df = pd.DataFrame({
        'Application Number': [excel.strip('.xlsx')],
        'Cost Per Unit': [costperunit],
        'Eligible Basis': [eligible],
        'Land Cost': [landcost],
        'Construction Cost': [constructioncost],
        'Total Cost': [totalcost],
        'Prevailing Wage': [prevailing],
        'MIP': [mip],
        'Recycled Bonds': [recycled],
    })
    return df

## 2021

In [16]:
def ladata2021(file_name):
    import openpyxl
    import os
    import pandas as pd
    
    try:
        # Load the Excel file
        excel_file = openpyxl.load_workbook(file_name, data_only=True)

      # Access the 'Application' sheet
        sheet_name1 = 'Application'
        sheet1 = excel_file[sheet_name1]
        sheet_name2 = 'Sources and Uses Budget'
        sheet2 = excel_file[sheet_name2]

        # Extract the value from the merged cell (AC447)
        costperunit = sheet1['AC453'].value
        eligible = sheet1['AC455'].value
        landcost = sheet2['B4'].value
        constructioncost = sheet2['B38'].value
        totalcost = sheet2['B105'].value
        prevailing = sheet1['AG953'].value

        # Initialize MIP and Recycled Bonds variables
        mip = None
        recycled = None

        # # Search for 'MIP' or 'CDLAC' in cells C618-C629
        found_mip= False
        for row_number in range(619, 652):
            row = sheet1[row_number]
            for cell in row:
                if cell.value:
                    if ('MIP' in str(cell.value).strip() or 'CDLAC' in str(cell.value).strip()):
                    # MIP = cell_value
                        mip = (f"Row {row_number}: {cell.value}")
                        found_mip=True
                        break  # Stop searching when the first match is found
            if found_mip:
                break 

        # Search for 'recycled' throughout the entire 'Application' sheet (case-insensitive)
        # Iterate over rows from row 556 to 934
        found_recycled = False
        for row_number in range(556, 935):
            row = sheet1[row_number]

            for cell in row:
                if cell.value:
                    if 'Recycled' in str(cell.value).strip():
                        recycled=(f"Row {row_number}: {cell.value}")
                        found_recycled = True
                        break
            if found_recycled:
                break  # Stop searching if 'Recycled' is found

        # Create a DataFrame
        excel = os.path.basename(file_name)
        df = pd.DataFrame({
            'Application Number': [excel.strip('.xlsx')],
            'Cost Per Unit': [costperunit],
            'Eligible Basis': [eligible],
            'Land Cost': [landcost],
            'Construction Cost': [constructioncost],
            'Total Cost': [totalcost],
            'Prevailing Wage': [prevailing],
            'MIP': [mip],
            'Recycled Bonds': [recycled],
        })
        return df
    except Exception as e:
        print(f"Error processing {file_name}: {e}")
        return None

## 2022

In [17]:
def ladata2022(file_name):
    import openpyxl
    import os
    import pandas as pd
    
    try:
        # Load the Excel file
        excel_file = openpyxl.load_workbook(file_name, data_only=True)

      # Access the 'Application' sheet
        sheet_name1 = 'Application'
        sheet1 = excel_file[sheet_name1]
        sheet_name2 = 'Sources and Uses Budget'
        sheet2 = excel_file[sheet_name2]

        # Extract the value from the merged cell (AC447)
        costperunit = sheet1['AC453'].value
        eligible = sheet1['AC455'].value
        landcost = sheet2['B4'].value
        constructioncost = sheet2['B38'].value
        totalcost = sheet2['B105'].value
        prevailing = sheet1['AG955'].value

        # Initialize MIP and Recycled Bonds variables
        mip = None
        recycled = None

        # # Search for 'MIP' or 'CDLAC' in cells C618-C629
        found_mip= False
        for row_number in range(619, 652):
            row = sheet1[row_number]
            for cell in row:
                if cell.value:
                    if ('MIP' in str(cell.value).strip() or 'CDLAC' in str(cell.value).strip()):
                    # MIP = cell_value
                        mip = (f"Row {row_number}: {cell.value}")
                        found_mip=True
                        break  # Stop searching when the first match is found
            if found_mip:
                break 

        # Search for 'recycled' throughout the entire 'Application' sheet (case-insensitive)
        # Iterate over rows from row 556 to 934
        found_recycled = False
        for row_number in range(556, 935):
            row = sheet1[row_number]

            for cell in row:
                if cell.value:
                    if 'Recycled' in str(cell.value).strip():
                        recycled=(f"Row {row_number}: {cell.value}")
                        found_recycled = True
                        break
            if found_recycled:
                break  # Stop searching if 'Recycled' is found

        # Create a DataFrame
        excel = os.path.basename(file_name)
        df = pd.DataFrame({
            'Application Number': [excel.strip('.xlsx')],
            'Cost Per Unit': [costperunit],
            'Eligible Basis': [eligible],
            'Land Cost': [landcost],
            'Construction Cost': [constructioncost],
            'Total Cost': [totalcost],
            'Prevailing Wage': [prevailing],
            'MIP': [mip],
            'Recycled Bonds': [recycled],
        })
        return df
    except Exception as e:
        print(f"Error processing {file_name}: {e}")
        return None

## 2023

In [18]:
def ladata2023(file_name):
    import openpyxl
    import os
    import pandas as pd
      # Load the Excel file
    try:
        
        excel_file = openpyxl.load_workbook(file_name, data_only=True)

      # Access the 'Application' sheet
        sheet_name1 = 'Application'
        sheet1 = excel_file[sheet_name1]
        sheet_name2 = 'Sources and Uses Budget'
        sheet2 = excel_file[sheet_name2]

        # Extract the value from the merged cell (AC447)
        costperunit = sheet1['AC453'].value
        eligible = sheet1['AC455'].value
        landcost = sheet2['B4'].value
        constructioncost = sheet2['B38'].value
        totalcost = sheet2['B105'].value
        prevailing = sheet1['AG941'].value
        
        

        # Initialize MIP and Recycled Bonds variables
        mip = None
        recycled = None

        # # Search for 'MIP' or 'CDLAC' in cells C618-C629
        found_mip= False
        for row_number in range(619, 638):
            row = sheet1[row_number]
            for cell in row:
                if cell.value:
                    if ('MIP' in str(cell.value).strip() or 'CDLAC' in str(cell.value).strip()):
                    # MIP = cell_value
                        mip = (f"Row {row_number}: {cell.value}")
                        found_mip=True
                        break  # Stop searching when the first match is found
            if found_mip:
                break 

        # Search for 'recycled' throughout the entire 'Application' sheet (case-insensitive)
        # Iterate over rows from row 556 to 934
        found_recycled = False
        for row_number in range(548, 921):
            row = sheet1[row_number]

            for cell in row:
                if cell.value:
                    if 'Recycled' in str(cell.value).strip():
                        recycled=(f"Row {row_number}: {cell.value}")
                        found_recycled = True
                        break
            if found_recycled:
                break  # Stop searching if 'Recycled' is found

        # Create a DataFrame
        excel = os.path.basename(file_name)
        df = pd.DataFrame({
            'Application Number': [excel.strip('.xlsx')],
            'Cost Per Unit': [costperunit],
            'Eligible Basis': [eligible],
            'Land Cost': [landcost],
            'Construction Cost': [constructioncost],
            'Total Cost': [totalcost],
            'Prevailing Wage': [prevailing],
            'MIP': [mip],
            'Recycled Bonds': [recycled],
        })
        return df
    except Exception as e:
        print(f"Error processing {file_name}: {e}")
        return None

## Running the Processes

In [19]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    doneladata2020 = cccombo('LA County/20',ladata2020)

In [20]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    doneladata2021 = cccombo('LA County/21',ladata2021)

In [21]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    doneladata2022 = cccombo('LA County/22',ladata2022)

In [74]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    doneladata2023 = cccombo('LA County/23',ladata2023)

NameError: name 'ladata2023' is not defined

In [75]:
doneladata2020.head()

NameError: name 'doneladata2020' is not defined

In [35]:
lacountydata=pd.concat([doneladata2020,
doneladata2021,
doneladata2022,doneladata2023])

In [40]:
lacountydata['Land Cost'].describe()

count    1.910000e+02
mean     4.086011e+06
std      4.246520e+06
min      0.000000e+00
25%      1.221000e+06
50%      2.950000e+06
75%      5.700000e+06
max      2.227500e+07
Name: Land Cost, dtype: float64

In [56]:
lacountydata['Land Cost Per Unit']=lacountydata['Land Cost']/lacountydata['Units']
lacountydata['Construction Cost Per Unit']=lacountydata['Construction Cost']/lacountydata['Units']
lacountydata['Eligible Basis Per Unit']=lacountydata['Eligible Basis']/lacountydata['Units']

In [59]:
lacountydata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191 entries, 0 to 29
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Application Number          191 non-null    object
 1   Cost Per Unit               191 non-null    float64
 2   Eligible Basis              191 non-null    float64
 3   Land Cost                   191 non-null    float64
 4   Construction Cost           191 non-null    float64
 5   Total Cost                  191 non-null    float64
 6   Prevailing Wage             65 non-null     object
 7   MIP                         12 non-null     object
 8   Recycled Bonds              28 non-null     object
 9   Units                       191 non-null    float64
 10  Land Cost Per Unit          191 non-null    float64
 11  Construction Cost Per Unit  191 non-null    float64
 12  Eligible Basis Per Unit     191 non-null    float64
dtypes: float64(9), object(4)
memory usage: 25.0+ KB

In [41]:
4.086011e+06

4086011.0

In [57]:
lacountydata.head()

,Application Number,Cost Per Unit,Eligible Basis,Land Cost,Construction Cost,Total Cost,Prevailing Wage,MIP,Recycled Bonds,Units,Land Cost Per Unit,Construction Cost Per Unit,Eligible Basis Per Unit
0,20-402,496775.694215,380365.404959,8450000.0,33619985.0,60109859.0,Yes,None,None,121.0,69834.710744,277851.115702,3143.515743
1,20-404,663898.307692,599025.747981,1200000.0,10221387.0,17261356.0,Yes,None,None,26.0,46153.846154,393130.269231,23039.451845
2,20-405,584739.814815,542380.629630,0.0,9464438.0,15787975.0,Yes,None,None,27.0,0.000000,350534.740741,20088.171468
3,20-418,676406.627907,562945.790698,2159000.0,16635305.0,29085485.0,Yes,None,None,43.0,50209.302326,386867.558140,13091.762574
4,20-427,618389.069767,527658.604651,1850000.0,14351403.0,26590730.0,Yes,Row 623: CDLAC Refundable Performance Deposit,None,43.0,43023.255814,333753.558140,12271.130341

# Adding Financing Costs to Winning Applications

In [29]:
output_folder = 'New Construction Four Percent'
os.makedirs(output_folder, exist_ok=True)

# Convert 'Application Number' column to a set for faster lookup
application_numbers = set(newconstruction['Application Number'].tolist())

# Specify the paths to the folders containing the Excel files
excel_folders = ['TCAC_2020_4%', 'TCAC_2021_4%','TCAC_2023_4%']

for excel_folder in excel_folders:
    # Loop through the files in the source folder
    for file_name in os.listdir(excel_folder):
        # Check if the file is in the list of application numbers
        if file_name.endswith('.xlsx') and file_name[:-5] in application_numbers:
            source_path = os.path.join(excel_folder, file_name)
            destination_path = os.path.join(output_folder, file_name)

            # Use shutil.copy2 to preserve metadata
            shutil.copy2(source_path, destination_path)
            # Uncomment the line below if you want to move instead of copy
            # shutil.move(source_path, destination_path)

print("Files copied/moved successfully.")

Files copied/moved successfully.

In [30]:
source_folder = 'New Construction Four Percent'
output_folders = ['NC2020', 'NC2021', 'NC2022', 'NC2023']

# Create output subfolders within the source folder if they don't exist
for folder in output_folders:
    os.makedirs(os.path.join(source_folder, folder), exist_ok=True)

# Loop through the files in the source folder
for file_name in os.listdir(source_folder):
    if file_name.endswith('.xlsx') and file_name.startswith(('20', '21', '22', '23')) and len(file_name) >= 4:
        source_path = os.path.join(source_folder, file_name)

        # Get the first two digits of the file name
        first_two_digits = file_name[:2]

        # Ensure the subfolder for the year exists
        year_subfolder = os.path.join(source_folder, first_two_digits)
        os.makedirs(year_subfolder, exist_ok=True)

        # Construct the destination path within the corresponding output subfolder
        destination_path = os.path.join(year_subfolder, file_name)

        # Use shutil.copy2 to preserve metadata
        shutil.copy2(source_path, destination_path)
        # Uncomment the line below if you want to move instead of copy
        # shutil.move(source_path, destination_path)

print("Files copied/moved successfully.")

Files copied/moved successfully.

## 2020

In [6]:
def ncdata2020(file_name):
    import openpyxl
    import os
    import pandas as pd
    # Load the Excel file with openpyxl
   
    constructionfinance= None
    permanentfinance= None
    prevailing= None
    permloan= None
    tcequity= None
    softmoney= None
    
    # Load the Excel file with openpyxl
    excel_file = openpyxl.load_workbook(file_name, data_only=True)
    
    # Access a specific sheet
    sheet_name1 = 'Application'
    sheet_name2='Sources and Uses Budget'
    sheet1 = excel_file[sheet_name1]
    sheet2 = excel_file[sheet_name2]

       # Extract values from specific cells
    constructionfinance = sheet2['B53'].value
    permanentfinance = sheet2['B62'].value
    prevailing = sheet1['AA955'].value
    permloan = sheet1['AG618'].value
    tcequity = sheet1['AG631'].value
    totalpermsources= sheet1['AG630'].value
    
    # Sum values from a range of cells (AG619-AG629)
    softmoney_range = sheet1['AG619':'AG629']
    softmoney = 0
    for row in softmoney_range:
        for cell in row:
            try:
                softmoney += float(cell.value)
            except (TypeError, ValueError):
                pass  # Skip non-numeric values
    
    # Create a DataFrame
    excel = os.path.basename(file_name)
    df = pd.DataFrame({
        'Application Number': [excel.strip('.xlsx')],
        'Prevailing Wage': [prevailing],
        'Construction Finance Cost': [constructionfinance],
        'Permanent Finance Cost': [permanentfinance],
        'Soft Money': [softmoney], 
        'Perm Loan':[permloan],
        'TC Equity':[tcequity],
        'Total Perm Sources':[totalpermsources]
        
    })
    return df

In [7]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    newncdata20 = cccombo('New Construction Four Percent/NC2020',ncdata2020)

In [8]:
newncdata20.head()

,Application Number,Prevailing Wage,Construction Finance Cost,Permanent Finance Cost,Soft Money,Perm Loan,TC Equity,Total Perm Sources
0,20-401,No,449630.0,35570.0,2730654.0,1842364,5104221,4573018
1,20-402,Yes,4616380.0,360750.0,33500000.0,6278000,20331859,39778000
2,20-403,No,683625.0,29000.0,5500000.0,900000,7584466,6400000
3,20-404,Yes,1064700.0,20000.0,5358891.0,2030000,9872465,7388891
4,20-405,Yes,970539.0,40240.0,5980100.0,2024000,7783875,8004100

# 2021

In [9]:
def ncdata2021(file_name):
    import openpyxl
    import os
    import pandas as pd
    # Load the Excel file with openpyxl
   
    constructionfinance= None
    permanentfinance= None
    prevailing= None
    permloan= None
    tcequity= None
    softmoney= None

    
    # Load the Excel file with openpyxl
    excel_file = openpyxl.load_workbook(file_name, data_only=True)
    
    # Access a specific sheet
    sheet_name1 = 'Application'
    sheet_name2='Sources and Uses Budget'
    sheet1 = excel_file[sheet_name1]
    sheet2 = excel_file[sheet_name2]

    # Extract the value from the merged cell (AC447)
    constructionfinance= sheet2['B54'].value
    permanentfinance= sheet2['B62'].value
    prevailing = sheet1['AG977'].value
    permloan = sheet1['AO637'].value
    tcequity = sheet1['AO650'].value
    totalpermsources= sheet1['AO649'].value
    
    # Sum values from a range of cells 
    softmoney_range = sheet1['AO638':'AO648']
    softmoney = 0
    for row in softmoney_range:
        for cell in row:
            try:
                softmoney += float(cell.value)
            except (TypeError, ValueError):
                pass  # Skip non-numeric values
      
  
    # Create a DataFrame
    excel = os.path.basename(file_name)
    df = pd.DataFrame({
        'Application Number': [excel.strip('.xlsx')],
        'Prevailing Wage': [prevailing],
        'Construction Finance': [constructionfinance],
        'Permanent Finance': [permanentfinance],
        'Soft Money': [softmoney], 
        'Perm Loan':[permloan],
        'TC Equity':[tcequity],
        'Total Perm Sources':[totalpermsources]
    })
    return df

In [10]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    newncdata21 = cccombo('New Construction Four Percent/NC2021',ncdata2021)

In [11]:
newncdata21.head()

,Application Number,Prevailing Wage,Construction Finance,Permanent Finance,Soft Money,Perm Loan,TC Equity,Total Perm Sources
0,21-419,No,1761619.0,72460.0,12708727.0,5746000.0,13565372.0,18454727.0
1,21-420,Yes,967589.0,91964.0,13460456.0,1896432.0,7087224.0,15356888.0
2,21-421,No,4847685.0,614000.0,5138952.0,29792715.0,34883131.0,34931667.0
3,21-422,No,535379.0,41541.0,8134018.0,4154149.0,6667877.0,12288167.0
4,21-423,Yes,3166993.0,1072788.0,13869397.0,24003000.0,31566453.0,37872397.0

## 2022

In [12]:
def ncdata2022 (file_name):
    import openpyxl
    import os
    import pandas as pd
    # Load the Excel file with openpyxl
   
    constructionfinance= None
    permanentfinance= None
    prevailing= None
    permloan= None
    tcequity= None
    softmoney= None
    
    # Load the Excel file with openpyxl
    excel_file = openpyxl.load_workbook(file_name, data_only=True)
    
    # Access a specific sheet
    sheet_name1 = 'Application'
    sheet_name2='Sources and Uses Budget'
    sheet1 = excel_file[sheet_name1]
    sheet2 = excel_file[sheet_name2]

    # Extract the value from the merged cell (AC447)
    constructionfinance= sheet2['B54'].value
    permanentfinance= sheet2['B62'].value
    prevailing = sheet1['AA977'].value
    permloan = sheet1['AO637'].value
    tcequity = sheet1['AO650'].value
    totalpermsources= sheet1['AO649'].value
    
    # Sum values from a range of cells 
    softmoney_range = sheet1['AO638':'AO648']
    softmoney = 0
    for row in softmoney_range:
        for cell in row:
            try:
                softmoney += float(cell.value)
            except (TypeError, ValueError):
                pass  # Skip non-numeric values
      
  
    # Create a DataFrame
    excel = os.path.basename(file_name)
    df = pd.DataFrame({
        'Application Number': [excel.strip('.xlsx')],
        'Prevailing Wage': [prevailing],
        'Construction Finance': [constructionfinance],
        'Permanent Finance': [permanentfinance],
            'Soft Money': [softmoney], 
        'Perm Loan':[permloan],
        'TC Equity':[tcequity],
        'Total Perm Sources':[totalpermsources]
    })
    return df

In [13]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    newncdata22 = cccombo('New Construction Four Percent/NC2022',ncdata2022)

In [14]:
newncdata22.head()

,Application Number,Prevailing Wage,Construction Finance,Permanent Finance,Soft Money,Perm Loan,TC Equity,Total Perm Sources
0,22-425,None,5428750.0,322500,14840000.0,32500000.0,44011816.0,47340000.0
1,22-426,None,3110050.0,416000,18334401.0,18000000.0,29373508.0,36334401.0
2,22-427,None,933600.0,110000,10038386.0,1300000.0,15139728.0,11338386.0
3,22-428,None,612700.0,122000,6125000.0,1700000.0,9268807.0,7825000.0
4,22-431,None,5147500.0,252500,13443016.0,24500000.0,72652608.0,37943016.0

## 2023

In [17]:
def ncdata2023(file_name):
    import openpyxl
    import os
    import pandas as pd
    # Load the Excel file with openpyxl
   
    constructionfinance= None
    permanentfinance= None
    prevailing= None
    permloan= None
    tcequity= None
    softmoney= None
    
    # Load the Excel file with openpyxl
    excel_file = openpyxl.load_workbook(file_name, data_only=True)
    
    # Access a specific sheet
    sheet_name1 = 'Application'
    sheet_name2='Sources and Uses Budget'
    sheet1 = excel_file[sheet_name1]
    sheet2 = excel_file[sheet_name2]

    # Extract the value from the merged cell (AC447)
    constructionfinance= sheet2['B54'].value
    permanentfinance= sheet2['B62'].value
    prevailing = sheet1['AG963'].value
    permloan = sheet1['AO623'].value
    tcequity = sheet1['AO636'].value
    totalpermsources= sheet1['AO635'].value
    
    # Sum values from a range of cells 
    softmoney_range = sheet1['AO624':'AO634']
    softmoney = 0
    for row in softmoney_range:
        for cell in row:
            try:
                softmoney += float(cell.value)
            except (TypeError, ValueError):
                pass  # Skip non-numeric values
  
    # Create a DataFrame
    excel = os.path.basename(file_name)
    df = pd.DataFrame({
        'Application Number': [excel.strip('.xlsx')],
        'Prevailing Wage': [prevailing],
        'Construction Finance': [constructionfinance],
        'Permanent Finance': [permanentfinance],
        'Soft Money': [softmoney], 
        'Perm Loan':[permloan],
        'TC Equity':[tcequity],
        'Total Perm Sources':[totalpermsources]
    })
    return df

In [18]:
if __name__ == "__main__":
    # folder_path = 'TCA_2021_4%_test'  # Replace with the path to your folder containing Excel files
    newncdata23 = cccombo('New Construction Four Percent/NC2023',ncdata2023)

In [23]:
financecosts=pd.concat([newncdata20, newncdata21,newncdata22, newncdata23])

In [24]:
updatednc = pd.merge(newconstruction, financecosts, on='Application Number', how='left')

In [25]:
updatednc['Financing Cost']=updatednc['Permanent Finance']+updatednc['Construction Finance']

In [26]:
updatednc['Land Cost Per Unit']=updatednc['Land Cost']/updatednc['Total Units']
updatednc['Construction Cost Per Unit']=updatednc['Construction Cost']/updatednc['Total Units']
updatednc['Eligible Basis Per Unit']=updatednc['Eligible Basis']/updatednc['Total Units']

In [27]:
updatednc['Construction Finance Per Unit']=updatednc['Construction Finance']/updatednc['Total Units']
updatednc['Permanent Finance Per Unit']=updatednc['Permanent Finance']/updatednc['Total Units']
updatednc['Financing Cost Per Unit']=updatednc['Financing Cost']/updatednc['Total Units']

In [31]:
updatednc.to_excel('Updated4percentanalysis.xlsx')

In [5]:
updatednc=pd.read_excel('Updated4percentanalysis.xlsx')

In [11]:
updatednc['Percent TC Equity']=updatednc['TC Equity']/updatednc['Total Cost']
updatednc['Percent Soft financing']=updatednc['Total Perm Sources']/updatednc['Total Cost']
updatednc['Percent Perm Loan']=updatednc['Permanent Finance']/updatednc['Total Cost']

In [12]:
lanewconstruction=updatednc[updatednc['County']=='Los Angeles']

In [9]:
updatednc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0.1                   881 non-null    int64
 1   Unnamed: 0                     881 non-null    int64
 2   Application Number             881 non-null    object
 3   Cost Per Unit                  880 non-null    float64
 4   Eligible Basis                 880 non-null    float64
 5   Land Cost                      881 non-null    float64
 6   Construction Cost              881 non-null    float64
 7   Total Cost                     881 non-null    float64
 8   Prevailing Wage_x              881 non-null    float64
 9   MIP                            68 non-null     object
 10  Recycled Bonds                 194 non-null    object
 11  Type                           881 non-null    object
 12  Total Units                    880 non-null    float64
 13  City                           880 non-null    object
 14  County                         880 non-null    object
 15  Year                           881 non-null    int64
 16  Prevailing Wage_y              530 non-null    object
 17  Construction Finance Cost      162 non-null    float64
 18  Permanent Finance Cost         162 non-null    float64
 19  Soft Money                     578 non-null    float64
 20  Perm Loan                      577 non-null    float64
 21  TC Equity                      577 non-null    float64
 22  Total Perm Sources             577 non-null    float64
 23  Construction Finance           416 non-null    float64
 24  Permanent Finance              416 non-null    float64
 25  Financing Cost                 416 non-null    float64
 26  Land Cost Per Unit             880 non-null    float64
 27  Construction Cost Per Unit     880 non-null    float64
 28  Eligible Basis Per Unit        880 non-null    float64
 29  Construction Finance Per Unit  416 non-null    float64
 30  Permanent Finance Per Unit     416 non-null    float64
 31  Financing Cost Per Unit        416 non-null    float64
dtypes: float64(22), int64(3), object(7)
memory usage: 220.4+ KB

# to do

Add number of units to each function and run ag

In [15]:
def des(col): 
    r=lanewconstruction[col].describe()
    return r

In [14]:
def des2(col): 
    r=updatednc[col].describe()
    return r

In [26]:
5.865693e+07

58656930.0

In [28]:
3.337377e+05

333737.7

In [29]:
des2('Percent TC Equity')

count    577.000000
mean       0.461845
std        0.098050
min        0.202709
25%        0.394557
50%        0.450484
75%        0.526938
max        0.727291
Name: Percent TC Equity, dtype: float64

In [20]:
des2('Percent Perm Loan')

count    416.000000
mean       0.005455
std        0.008640
min        0.000000
25%        0.001478
50%        0.002880
75%        0.005139
max        0.050863
Name: Percent Perm Loan, dtype: float64

In [21]:
des2('Percent Soft financing')

count    577.000000
mean       0.538145
std        0.098053
min        0.272709
25%        0.473062
50%        0.549516
75%        0.605443
max        0.797291
Name: Percent Soft financing, dtype: float64

In [30]:
des('Total Cost')

count    1.910000e+02
mean     5.372092e+07
std      2.817572e+07
min      1.478986e+07
25%      3.206172e+07
50%      4.500000e+07
75%      7.309772e+07
max      1.494808e+08
Name: Total Cost, dtype: float64

In [32]:
5.372092e+07

53720920.0

In [23]:
des('Percent Perm Loan')

count    86.000000
mean      0.005707
std       0.008827
min       0.000261
25%       0.001824
50%       0.002661
75%       0.004119
max       0.044342
Name: Percent Perm Loan, dtype: float64

In [24]:
des('Percent Soft financing')

count    130.000000
mean       0.569639
std        0.102568
min        0.272709
25%        0.502158
50%        0.579237
75%        0.648526
max        0.781447
Name: Percent Soft financing, dtype: float64

In [90]:
91/119

0.7647058823529411

In [84]:
des2('Prevailing Wage_y')

count     530
unique      2
top       Yes
freq      299
Name: Prevailing Wage_y, dtype: object

In [82]:
counts = updatednc['Prevailing Wage_y'].value_counts()

In [86]:
299/530

0.5641509433962264

In [61]:
des('Eligible Basis Per Unit')

count      191.000000
mean      7324.376225
std       4571.670655
min        902.127530
25%       4191.216862
50%       6608.627564
75%       9180.349692
max      23039.451845
Name: Eligible Basis Per Unit, dtype: float64

In [62]:
des('Construction Cost Per Unit')

count       191.000000
mean     344145.550015
std       90726.337543
min      110860.143646
25%      293356.477880
50%      345847.631579
75%      393452.154732
max      683577.016949
Name: Construction Cost Per Unit, dtype: float64